<style type="text/css">
    .style-center {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .style-right {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .style-left {
        display: inline-block;
        text-align: left;
        width: 100%;
    }
</style>
<div class="grid_12">

    <div class="grid_12 headerBox">
        <h1 style="color: white;"><b>Permohonan Perbaikan IPSRS</b></h1>
    </div>
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <!-- <div class="panel-heading" c-translate>Laporan Remunerasi</div> -->
            <div class="panel-body">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom md-selected="myVar">
                            <md-tab label="Permohonan Baru">
                                <md-content class="md-padding">
                                    <div class="grid_12 borderBox">

                                        <!-- //----- -->
                                        <div class="grid_2">
                                            <div class="grid_12">
                                                <label c-label item="item" c-label-text="Tanggal"></label>
                                            </div>
                                            <div class="grid_12">
                                                <div class="grid_12 padDatePicker">
                                                    <div class="grid_12">
                                                        <input style="width: 100%" k-ng-model="item.tglAwal"
                                                            kendo-datetimepicker k-max="now"
                                                            placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'"
                                                            disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid_4">
                                            <div class="grid_12">
                                                <label c-label item="item" c-label-text="Ruangan/Area"></label>
                                            </div>
                                            <div class="grid_12">
                                                <input kendo-combo-box k-data-source="listRuangan"
                                                    k-ng-model="item.ruangan" k-data-text-field="'namaruangan'"
                                                    k-filter="'contains'" k-data-value-field="'id'"
                                                    k-auto-bind="false" />
                                            </div>
                                        </div>
                                        <div class="grid_3">
                                            <div class="grid_12">
                                                <label c-label item="item" c-label-text="Pelapor"></label>
                                            </div>

                                            <div class="grid_12">
                                                <input kendo-combo-box k-data-source="listPelapor"
                                                    k-ng-model="item.pelapor" k-data-text-field="'namalengkap'"
                                                    k-filter="'contains'" k-data-value-field="'id'"
                                                    k-auto-bind="false" />
                                                <!-- <input c-text-box type="input" filter="" class="k-textbox"
                                                    ng-model="item.pelapor" /> -->
                                            </div>
                                        </div>
                                        <div class="grid_1">
                                            <div class="grid_12">
                                                <label c-label item="item" c-label-text="RuanganTujuan"></label>
                                            </div>

                                            <div class="grid_12">
                                                <input kendo-combo-box k-data-source="listRuanganTujuan"
                                                    k-ng-model="item.ruangantujuan" k-data-text-field="'namaruangan'"
                                                    k-filter="'contains'" k-data-value-field="'id'"
                                                    k-auto-bind="false" />
                                                <!-- <input c-text-box type="input" filter="" class="k-textbox"
                                                    ng-model="item.pelapor" /> -->
                                            </div>
                                        </div>
                                        <div class="grid_2">
                                            <div class="grid_12">
                                                <label c-label item="item" c-label-text="Status"></label>
                                            </div>

                                            <div class="grid_12">
                                                <input c-text-box type="input" filter="" class="k-textbox"
                                                    ng-model="item.status" disabled />
                                            </div>
                                        </div>
                                        <div class="grid_12" style="margin-left: 10px">
                                            <div class="grid_12">
                                                <label c-label item="item"
                                                    c-label-text="Deskripsi Kerusakan/Maintenance"></label>
                                            </div>
                                            <div class="grid_12">
                                                <textarea required class="k-textbox" style="    height: 200px;
                    width: 98%;
                    margin-top: 5px;
                    resize: none;" ng-model="item.desckerusakan">
                </textarea>
                                            </div>
                                        </div>

                                        <div class="grid_12">
                                            <div class="grid_10">
                                            </div>

                                            <div class="grid_1">
                                                <button class="c-button" ng-click="simpan()">Simpan</button>
                                            </div>
                                            <div class="grid_1">
                                                <button class="c-button" ng-click="batal()">Batal</button>
                                            </div>
                                        </div>
                                        <!-- //---- -->

                                    </div>
                                </md-content>
                            </md-tab>


                            <md-tab label="History">
                                <md-content class="md-padding">
                                    <div class="grid_12 borderBox">

                                        <!-- //----- -->
                                        <div class="grid_12">
                                            <div class="grid_6">
                                                <div class="grid_6">
                                                    <label c-label item="item" c-label-text="Periode Tanggal"></label>
                                                </div>
                                                <div class="grid_6">
                                                    <label c-label item="item" c-label-text="Ruangan Tujuan"></label>
                                                </div>
                                                <div class="grid_12">
                                                    <div class="grid_3 padDatePicker">
                                                        <div class="grid_12">
                                                            <input style="width: 100%" k-ng-model="item.tglAwal1"
                                                                kendo-datetimepicker k-max="now"
                                                                placeholer="yyyy-MM-dd HH:mm"
                                                                k-format="'yyyy-MM-dd HH:mm'" />
                                                        </div>
                                                    </div>
                                                    <div class="grid_3 padDatePicker">
                                                        <div class="grid_12">
                                                            <input style="width: 100%" k-ng-model="item.tglAkhir"
                                                                kendo-datetimepicker placeholer="yyyy-MM-dd HH:mm"
                                                                k-format="'yyyy-MM-dd HH:mm'" />
                                                        </div>
                                                    </div>
                                                    <div class="grid_3">
                                                        <div class="grid_12">
                                                            <input kendo-combo-box k-data-source="listRuanganTujuan"
                                                                k-ng-model="item.ruangantujuan" k-data-text-field="'namaruangan'"
                                                                k-filter="'contains'" k-data-value-field="'id'"
                                                                k-auto-bind="false" />
                                                            </div>
                                                    </div>
                                                    <div class="grid_3">
                                                        <button class="c-button" ng-click="cariFilter()">Cari</button>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="grid_12">
                                                <div class="grid_12 borderBox">
                                                    <div id="kGrid" kendo-grid k-data-source="dataGrid"
                                                        k-selectable="'row'" k-columns="columnGrid" k-pageable="'true'"
                                                        k-sortable="'true'" k-ng-model="dataSelected">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid_12">
                                            <div class="grid_3">
                                                <div class="grid_12">
                                                    <label c-label item="item" c-label-text="Nama Deskripsi"></label>
                                                </div>

                                                <div class="grid_12">
                                                    <input c-text-box type="input" filter="" class="k-textbox"
                                                        ng-model="item.cariDesc" />
                                                </div>
                                            </div>
                                            <div class="grid_7">
                                            </div>
                                            <!-- <div class="grid_2" style="margin-top: 22px">
                                                <button class="c-button" ng-click="DetailBtn()">Detail</button>
                                            </div> -->
                                        </div>
                                        <!-- //---- -->

                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>
    </div>

    <div class="grid_12" style="margin-top:60px">
        <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
    </div>