/Frontend/bower_components
/Frontend/daemon
/Frontend/node_modules
/Frontend/uploads
/Frontend/app/javascripts/Setting.js
/Backend/composer.lock
/Backend/.idea
/backend/vendor
/medical-support-system/vendor
/medical-support-system/.idea
/DashboardIndikator
/PMKP
/Frontend/nohup.out
# See http://help.github.com/ignore-files/ for more about ignoring files.
eis.zip
package-lock.json
package-lock_copy.json

# compiled output
/dist
/tmp
/out-tsc


# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/kiosk/node_modules/
/kiosk/node_modules.zip
/kiosk/node_kiosk.zip
/kiosk/node_logistik.zip
/e-reservasi/node_modules/
/e-reservasi/node_reservasi.rar
/kiosk/node_modules.rar

/eis/node_modules/
/eis/node_modules.zip
/eis/node_eis.zip
/eis/src/assets/bower_components.zip
/eis/src/assets/bower_components/
/webview-reservasi/.idea
/webview-reservasi/.gradle
/EISeisV2/
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#
/frontend/bower_components
/backend/vendor
/frontend/node_modules
/frontend/kiosk.zip
/frontend/e-reservasi.zip
/frontend/eis.zip
/frontend/kiosk
/frontend/e-reservasi
/frontend/eis
/backend/storage
/backend/.idea
/backend/storage
/backend/.idea
/frontend/bower_components
/frontend/.vscode
/backend/storage/framework/sessions
/kiosk/node_modules.zip
/frontend/bower_components.zip
/frontend/node_modules.zip
/eis/bower_components
/BedMonitor/node_modules
/BedMonitor/bower_components
/BedMonitor/src/assets/bower_components/
#/EIS/src/app/shared/app.service.ts
/server new
/EIS/src/app/shared/app.service.ts

/frontend/eis
/frontend/e-reservasi
/frontend/kiosk
/eis/node_modules_eis.rar
/frontend/Frontend.rar
/bedmonitor/node_modules
/bedmonitor/node_modules.zip
/bedmonitor/src/assets/bower_components.rar
/bedmonitor/src/assets/bower_components
/microservice/Exe/Display Antrian/Install.rar
/e-reservasi/node_modules.rar
/frontend/Frontend.zip
/e-reservasi/node_modules.zip
/eis/node_eis.zip
/frontend/e-reservasi.zip
/frontend/kiosk.zip
/landing-page.zip
/backend/storage/framework/sessions/040089070fab663f6086b47e4a44e54f7563fd4b
/backend/storage/framework/sessions/3c71dbb82eee3dae76c58a6c30bcbadb37c3498b
/backend/storage/framework/sessions/9ee17c2ae8f125251506c4c29b05aaf7acf97d0b
/backend/storage/framework/sessions/c9ad524f78f6f5e1c6c8097679873fe6b54df444
/backend/storage/framework/sessions/c9b2fd91e4e64b8b92287bcee84d79cbb6da5c09
/backend/.env
/frontend/app/javascripts/Setting.js
*.tmp
