
<style>
h3{
    font-weight: 400;
    line-height: 1.1;
    color: #ffffff;
}
.k-i-close {
        display: none;
}
.k-multiselect-wrap {
    position: relative;
    /* border-width: 0; */
    /* border-style: solid; */
    border-radius: 4px;
    /* border-color: #C5C5C5; */
    background-color: #FFF;
    min-height: 2.04em;
    border-width: 1px;
    border-style: solid;
    border-color: #228be6;
}
.k-grid-Hapus{
    background-color: #ff2359 !important;
}
    </style>
<div class="grid_12">

    <c-form item='item'>

        <div ng-hide="hideEMR" ng-include='"../app/template/Shared/HeaderDataPasien"'></div>


        <div class="grid_12">
            <div class="panel panel-default">
                <div class="panel-heading" c-translate>Mutu 
                
                </div>
             
                <div class="panel-body">
                        <!-- <div class="grid_12" style="margin-left: 5px;margin-top:15px;" >
                                <input type="checkbox" class="k-checkbox" id="isPaket" ng-model="item.paket" value="true" ng-click="cekPaket(item.paket)">
                                <label class="k-checkbox-label" for="isPaket"><b>Paket</b></label>
                            </div> -->
                    <div class="grid_12" style="margin-top: 15px;">
                        <div class="grid_2">
                            <label c-label item="model" c-label-text="tglPelayanan"></label>
                            <!--    <input style="width: 100% " k-max="now " k-value='now' kendo-date-time-picker k-ng-model="model.tglPelayanan " k-options="formatJam24"/> -->
                            <input style="width: 100%" k-ng-model="item.tglPelayanan"  kendo-datetimepicker k-max = "maxDate" k-min = "minDate" placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm"  k-options="startDateOptions"/>
                        </div>
                        <div class="grid_5">
                            <label  name="produk" c-label item="item" c-label-text="Nama Pelayanan"></label>
                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.namaProduk" k-data-text-field="'pelayananmutu'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listProduk" k-on-change="getHargaTindakan()" />
                        </div>
                        <!-- <div class="grid_2">
                            <label c-label item="item" c-label-text="harga"></label>
                            <input  c-text-box type="input" filter="'numeric'" class="k-textbox" ng-model="item.hargaTindakan" readonly="true" />
                        </div> -->
                        <div class="grid_1">
                            <label c-label item="item" c-label-text="Qty"></label>
                            <input name="qty" c-text-box type="input" filter="'numeric'" class="k-textbox" ng-model="item.jumlah"/>
                        </div>
                       <!-- <div class="grid_2">
                            <label c-label item="item" c-label-text="Status cito"></label>
                            <div class="grid_12" ng-repeat="list in listCito">
                                <div ng-repeat="opsi in list.detail | orderBy:'id'" class="grid_6">
                                    <input type="radio" name="{{opsi.nama}}" id="{{opsi.nama}}" class="k-radio" ng-model="item.Cito" value="{{opsi.id}}" ng-click="getSkor(list, opsi)">
                                    <label class="k-radio-label" for="{{opsi.nama}}">{{opsi.nama}}</label>
                                </div>
                            </div>
                             <div class="grid_4" ng-repeat="stat in listYaTidak">
                                <input type="radio" name="{{'statusCito' + stat.name}}" id="{{'statusCito' + stat.name}}" class="k-radio" k-ng-model="model.statusCito" 
                                ng-checked="stat.id===0" k-ng-value="stat"> 
                                <label class="k-radio-label" for="{{'statusCito' + stat.name}}">{{stat.name}}</label>
                            </div>
                        </div> -->


                        <!-- <div class="grid_12">
                            <div class="grid_2">
                                <label c-label item="item">Jenis Pelaksana</label>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init()' /> 
                                 ng-disabled="item.paramedis == true" 
                            </div>
                            <div class="grid_5" style="margin-bottom:5px">
                                <label c-label item="item">Petugas Pelaksana</label>
                                <select 
                                kendo-multi-select 
                                k-options="selectOptions" 
                                k-data-source="dataSource"
                                k-data-text-field="'namalengkap'" 
                                k-data-value-field="'id'" 
                                k-ng-model="selectedPegawai" 
                               
                                \>
                                ng-disabled="item.paramedis == true" 
                            </select>
                        </div>
                        <div class="grid_1" style="margin-top:20px" ng-show="show">
                            <label ng-click="tambah()"><img src="stylesheets/Addd.png" width="25" alt="Picture"  ></label>
                        </div> 
                          <div class="grid_1" style="margin-top:20px" ng-show="item.paramedis == true"> 
                            <label ng-click="tambah()"><img src="stylesheets/Addd.png" width="25" alt="Picture"  ></label>
                         </div>  
                        <div class="grid_2"  style="margin-top:20px;" ng-show="showLab" >
                            <input type="checkbox" class="k-checkbox" id="pemeriksaanKeluar" ng-model="item.pemeriksaanKeluar" ng-click="cekpemeriksaanKeluar(item.pemeriksaanKeluar)">
                            <label class="k-checkbox-label" for="pemeriksaanKeluar"><b>Pemeriksaan Luar</b></label>
                      </div>
                       <div class="grid_2"  style="margin-top: 20px">
                                <input type="checkbox" class="k-checkbox" id="isParamedis" ng-model="item.paramedis" value="true" ng-click="cekParamedis(item.paramedis)">
                                <label class="k-checkbox-label" for="isParamedis"><b>Dilakukan oleh Paramedis</b></label>
                            </div> -->
                    </div>
                    <div class="grid_12" ng-show="showJenisPelaksana2">
                        <div class="grid_2">
                            <label c-label item="item">Jenis Pelaksana</label>
                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana2" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init2()'/>
                        </div>
                        <div class="grid_5" style="margin-bottom:5px">
                            <label c-label item="item">Petugas Pelaksana</label>
                            <select 
                            kendo-multi-select 
                            k-options="selectOptions" 
                            k-data-source="dataSource2"
                            k-data-text-field="'namalengkap'" 
                            k-data-value-field="'id'" 
                            k-ng-model="selectedPegawai2"
                            \>
                        </select>
                    </div>
                    <div class="grid_1" style="margin-top:20px" ng-show="show2">

                        <label ng-click="tambah2()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                        <label ng-click="hapus()"><img src="stylesheets/cancel.png"  width="25" alt="Picture"></label>
                    </div> 
                </div>


                <div class="grid_12" ng-show="showJenisPelaksana3">
                    <div class="grid_2">
                        <label c-label item="item">Jenis Pelaksana</label>
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana3" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init3()'/>
                    </div>
                    <div class="grid_5" style="margin-bottom:5px">
                        <label c-label item="item">Petugas Pelaksana</label>
                        <select 
                        kendo-multi-select 
                        k-options="selectOptions" 
                        k-data-source="dataSource3"
                        k-data-text-field="'namalengkap'" 
                        k-data-value-field="'id'" 
                        k-ng-model="selectedPegawai3"
                        \>
                    </select>
                </div>
                <div class="grid_1" style="margin-top:20px" ng-show="show3">
                   <label ng-click="tambah3()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                   <label ng-click="hapus2()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>
               </div>  
           </div>  



           <div class="grid_12" ng-show="showJenisPelaksana4">
            <div class="grid_2">

                <label c-label item="item">Jenis Pelaksana</label>
                <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana4" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init4()'/>

            </div>

            <div class="grid_5" style="margin-bottom:5px">
                <label c-label item="item">Petugas Pelaksana</label>
                <select 
                kendo-multi-select 
                k-options="selectOptions" 
                k-data-source="dataSource4"
                k-data-text-field="'namalengkap'" 
                k-data-value-field="'id'" 
                k-ng-model="selectedPegawai4"
                \>
            </select>
        </div>
        <div class="grid_1" style="margin-top:20px" ng-show="show4">
            <label ng-click="tambah4()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
            <label ng-click="hapus3()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>

        </div>  
    </div>  




    <div class="grid_12" ng-show="showJenisPelaksana5">

        <div class="grid_2">
            <label c-label item="item">Jenis Pelaksana</label>
            <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana5" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init5()'/>

        </div>
        <div class="grid_5" style="margin-bottom:5px">
            <label c-label item="item">Petugas Pelaksana</label>
            <select 
            kendo-multi-select 
            k-options="selectOptions" 
            k-data-source="dataSource5"
            k-data-text-field="'namalengkap'" 
            k-data-value-field="'id'" 
            k-ng-model="selectedPegawai5"
            \>
        </select>
    </div>
    <div class="grid_1" style="margin-top:20px" ng-show="show5">
        <label ng-click="tambah5()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
        <label ng-click="hapus4()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>

    </div>  
</div>  

<!--<div class="panel-heading" c-translate> {{item.jenisPelaksana6.jenispetugaspe}}</div>-->

<div class="grid_12" ng-show="showJenisPelaksana6">

    <div class="grid_2">
        <label c-label item="item">Jenis Pelaksana</label>
        <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana6" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init6()'/>
    </div>


    <div class="grid_5" style="margin-bottom:5px">
        <label c-label item="item">Petugas Pelaksana</label>
        <select 
        kendo-multi-select 
        k-options="selectOptions" 
        k-data-source="dataSource6"
        k-data-text-field="'namalengkap'" 
        k-data-value-field="'id'" 
        k-ng-model="selectedPegawai6"
        \>
    </select>
</div>
<div class="grid_1" style="margin-top:20px" ng-show="show6">
    <label ng-click="tambah6()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
    <label ng-click="hapus5()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>

</div>  
</div>  

<!--<div class="panel-heading" c-translate> {{item.jenisPelaksana7.jenispetugaspe}}</div>-->

<div class="grid_12" ng-show="showJenisPelaksana7">

    <div class="grid_2">
        <label c-label item="item">Jenis Pelaksana</label>
        <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana7" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init7()'/>
    </div>


    <div class="grid_5" style="margin-bottom:5px">
        <label c-label item="item">Petugas Pelaksana</label>
        <select 
        kendo-multi-select 
        k-options="selectOptions" 
        k-data-source="dataSource7"
        k-data-text-field="'namalengkap'" 
        k-data-value-field="'id'" 
        k-ng-model="selectedPegawai7"
        \>
    </select>
</div>
<div class="grid_1" style="margin-top:20px" ng-show="show7">
   <label ng-click="tambah7()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
   <label ng-click="hapus6()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>
</div>  
</div>  

<!--<div class="panel-heading" c-translate> {{item.jenisPelaksana8.jenispetugaspe}}</div>-->

<div class="grid_12" ng-show="showJenisPelaksana8">

    <div class="grid_2">
        <label c-label item="item">Jenis Pelaksana</label>
        <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana8" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init8()'/>
    </div>


    <div class="grid_5" style="margin-bottom:5px">
        <label c-label item="item">Petugas Pelaksana</label>
        <select 
        kendo-multi-select 
        k-options="selectOptions" 
        k-data-source="dataSource8"
        k-data-text-field="'namalengkap'" 
        k-data-value-field="'id'" 
        k-ng-model="selectedPegawai8"
        \>
    </select>
</div>
<div class="grid_1" style="margin-top:20px" ng-show="show8">
   <label ng-click="tambah8()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
   <label ng-click="hapus7()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>
<!--     <img style="float:right;margin-top:2px" src="stylesheets/cancel.png" alt="Picture" width="25" ng-click="hapus7()">
    <img style="float:right" src="stylesheets/Addd.png" alt="Picture" width="28" ng-click="tambah8()"> -->
</div>  
</div>  


<!--<div class="panel-heading" c-translate> {{item.jenisPelaksana9.jenispetugaspe}}</div>-->

<div class="grid_12" ng-show="showJenisPelaksana9">

    <div class="grid_2">
        <label c-label item="item">Jenis Pelaksana</label>
        <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana9" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init9()'/>
    </div>

    <div class="grid_5" style="margin-bottom:5px">
        <label c-label item="item">Petugas Pelaksana</label>
        <select 
        kendo-multi-select 
        k-options="selectOptions" 
        k-data-source="dataSource9"
        k-data-text-field="'namalengkap'" 
        k-data-value-field="'id'" 
        k-ng-model="selectedPegawai9"
        \>
    </select>
</div>
<div class="grid_1" style="margin-top:20px" ng-show="show9">
   <label ng-click="tambah9()"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
   <label ng-click="hapus8()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>
  <!--   <img style="float:right;margin-top:2px" src="stylesheets/cancel.png" alt="Picture" width="25" ng-click="hapus8()">
    <img style="float:right" src="stylesheets/Addd.png" alt="Picture" width="28" ng-click="tambah9()">
</div>   -->
</div>  


<div class="grid_12" ng-show="showJenisPelaksana10">

    <div class="grid_2">
        <label c-label item="item">Jenis Pelaksana</label>
        <input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisPelaksana10" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='init10()'/>
    </div>


    <div class="grid_5" style="margin-bottom:5px">
        <label c-label item="item">Petugas Pelaksana</label>
        <select 
        kendo-multi-select 
        k-options="selectOptions" 
        k-data-source="dataSource10"
        k-data-text-field="'namalengkap'" 
        k-data-value-field="'id'" 
        k-ng-model="selectedPegawai10"
        \>
    </select>
</div>

<div class="grid_1" style="margin-top:20px" ng-show="show10">
   <label ng-click="hapus9()"><img src="stylesheets/cancel.png" width="25" alt="Picture"></label>
   <!--   <img style="float:right;margin-top:2px" src="stylesheets/cancel.png" alt="Picture" width="25" ng-click="hapus9()"> -->
   <!--<img style="float:right" src="stylesheets/Addd.png" alt="Picture" width="28" ng-click="tambah10()">-->
</div>  
</div>  
</div>

<div class="grid_12" style="margin-top:10px">
    <div class="grid_8"></div>
    <div class="grid_2">
            <button  ng-show="!isLoading" kendo-button style="width: 100%" class="primary"  ng-click="tambahTindakans()"><i class="fa fa-plus"></i>Tambah Mutu</button>
        <!-- <button class="c-button success" ng-click="tambahTindakans()">Tambah Tindakan</button> -->
    </div>
    <div class="grid_2">
            <button  ng-show="!isLoading" kendo-button style="width: 100%" class="cancel"  ng-click="hapusAll()"><i class="fa fa-trash"></i>Hapus Semua</button>
        <!-- <button class="c-button cancel" ng-click="hapusAll()">Hapus Semua</button> -->
       
    </div>
</div>
</div>
</div>
</div>
<div class="grid_12">
    <kendo-grid   id="grid" k-data-source="dataTindakan" options="mainGridOptions" k-ng-model="dataSelectedRow"    ng-click="klikGrid(dataSelectedRow)">
        <div k-detail-template>
            <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
        
        </div>
    </kendo-grid>
    <!-- <div class="grid_12">
            <div class="grid_9"></div>
         <div class="grid_3">
        <fieldset class="effect-shadow" style=" border-radius: 4px">
                <div class="grid_4">
                            <label c-label item="item " c-label-text="Total "></label>
                    </div>
                    <div class="grid_8">
                           <strong> <span style="font-weight:400;">{{item.totalAlls}}</span></strong>
                            <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.totalAlls"
                                disabled="" /> 
            </fieldset>
                
        </fieldset>
         </div>
    </div> -->
    
    <!-- <div style="text-align: right;"  class="grid_10">
        <h3 style="text-align: right;">Total Biaya : </h3>
    </div>
     <div style="text-align: right;margin-top: 5px"  class="grid_2">
    
              <input c-text-box type="text" style="text-align: right"  class="k-textbox" ng-model="item.totalAlls" ng-disabled="true" />
    </div> -->
</div>
<div class="grid_12">
    <div class="grid_4">
    
    </div>
    <div class="grid_8">
        <div ng-include='"../app/template/Shared/TemplateButtonRegistrasiNew " ' style="margin-top:30px" ng-hide="hideSimpan"></div>
    </div>
</div>

<div ng-include=' "../app/template/Shared/TemplateLoading" '></div>
</div>
</c-panel>
</c-form>

</div> 



<div kendo-window="popUpPaket" k-title="'Paket'" k-width="1000"  k-visible="false"
    k-on-close="customClicked()">
    <div class="panel panel-default container_12" style="padding: 0px 10px;">

        <fieldset class="effect-shadow" style=" border-radius: 4px;margin-top:10px">
            <legend id="filterData">
                <a ng-click="showAndHide()">Daftar Paket Tindakan</a>
            </legend>
            <div class="grid_12">

                    <div class="grid_12" style="margin-top: 10px">

                        <div class="grid_6">
                            <div class="grid_12">
                                <label c-label item="item" c-label-text="Nama Paket"></label>
                            </div>
                            <div class="grid_12">
                                <input c-text-box type="input" filter="" class="k-textbox"
                                    ng-model="paket.namaPaket" />
                            </div>
                        </div>
                      
                        <div class="grid_1">
                            <label c-label c-label-text=""></label>
                           
                            <em style="margin-top:6px;" ng-click='resetFilterPaket()' id="iconButton" data-role="button"
                                class="k-button k-button-icon k-primary" role="button" aria-disabled="false"
                                tabindex="0"><span class="k-sprite k-icon k-i-cancel"></span></em>

                        </div>
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px">
                    <div id="gridPaket" kendo-grid k-data-source="sourcePaket"  k-selectable="'row'" 
                    k-pageable="'true'"
                    options="optionsPaket" k-ng-model="dataPaketSelect"   ng-click="klikPaket(dataPaketSelect)">
                        <div k-detail-template>
                            <kendo-tabstrip>
                                <div>
                                    <div id="kGridDetail" kendo-grid k-options="data2(dataItem)" k-sortable="'true'"
                                        k-selectable="'row'" 
                                      >
                                    </div>
                                </div>
                            </kendo-tabstrip>
                        </div>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_3">
                        <label c-label item="model" c-label-text="tglPelayanan"></label>
                        <input style="width: 100%" k-ng-model="item.tglPelayanan"  kendo-datetimepicker k-max = "maxDate" k-min = "minDate" placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm"  k-options="startDateOptions"/>
                    </div>
                    <div class="grid_3">
                        <label c-label item="item">Jenis Pelaksana</label>
                        <input style="width: 100%;" kendo-combo-box k-ng-model="paket.jenisPelaksana" k-data-text-field="'jenispetugaspe'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPelaksana" k-on-change='getPegawaiByJenis()' /> 
                        <!-- ng-disabled="item.paramedis == true" -->
                    </div>
                    <div class="grid_6" style="margin-bottom:5px">
                        <label c-label item="item">Petugas Pelaksana</label>
                        <select 
                        kendo-multi-select 
                        k-options="selectOptions" 
                        k-data-source="dataSource"
                        k-data-text-field="'namalengkap'" 
                        k-data-value-field="'id'" 
                        k-ng-model="selectedPegawaiPaket" 
                        
                        \>
                        <!--  ng-disabled="item.paramedis == true" -->
                        </select>
                     </div>
                </div>

        </fieldset>
        <div class="grid_12">
            <div class="k-edit-buttons  k-state-default pull-right" style="margin-top:10px">

                <button class="k-button k-primary  k-button-icontext" ng-click="tambahPaket()"><span
                    class="k-icon fa fa-edit"></span>Tambah</button>
                <button class="k-button  btnHapus k-button-icontext" ng-click="tutupPaket()"><span
                        class="k-icon k-cancel"></span>Tutup</button>
            </div>
        </div>
    </div>

</div>
