<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;


    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }
    td {
        padding: 5px;
        text-align: left;
    }
    th {
        padding: 5px;
        text-align: center;
    }
    .clicks{
        cursor: pointer;
    }
</style>

 <!-- ng-class="{'my-disable':true}" -->
<!-- <div class="grid_12"  disable-contents="allDisabled" id="form"> -->
<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Asuhan Medis Peritoneal Dialisis</div>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <div class="grid_6">
                <div class="grid_2">
                    <label c-label item="item">Ruangan&nbsp;</label>
                </div>
                <div class="grid_6" style="margin-top: -10px;">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[428900]" k-data-text-field="'text'"
                        k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listRuangan" />
                </div>
            </div>
            <div class="grid_6">
                <div class="grid_2">
                    <label c-label item="item">Tgl/Jam</label>
                </div>
                <div class="grid_6" style="margin-top: -10px;">
                    <input style="width: 100%" k-ng-model="item.obj[428901]" kendo-datetimepicker placeholer="YYYY:MM:DD HH:MM" k-format="'yyyy-MM-dd HH:mm'" />
                </div>
            </div>
        </div>

        <div class="grid_12">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" ng-repeat="list in listAsuhan | orderBy:'id'" style="margin-top: 10px;">
                    <div ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div ng-switch on="jawab.type">
                            <div class="grid_12" ng-switch-when="label" style="margin-top: 10px;">
                                <label c-label item="item">{{ jawab.caption }}</label>
                            </div>
                            <div class="grid_12" ng-switch-when="textbox" style="margin-top: 10px;">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                                <div class="grid_6">
                                    <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[jawab.id]" />
                                </div>
                            </div>
                            <div class="grid_12" ng-switch-when="textarea" style="margin-top: 10px;">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                                <div class="grid_6">
                                    <textarea cols="6" rows="6" c-text-area type="input" filter="'string'" class="k-textbox"
                                        ng-model="item.obj[jawab.id]"></textarea>
                                </div>
                            </div>
                            <div class="grid_4 parentKeteranganFieldTambahan" ng-switch-when="textbox2" style="margin-top: -5px;">
                                <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[jawab.id]" />
                            </div>
                            <div class="grid_2" ng-switch-when="checkbox" style="margin-top: 10px;margin-left: -5px;">
                                <div class="grid_12">
                                    <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}" ng-model="item.obj[jawab.id]">
                                    <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                        &nbsp;{{jawab.nama}}</label>
                                </div>
                            </div>
                            <div class="grid_1" ng-switch-when="checkbox2" style="margin-top: 10px;margin-left: -5px;">
                                <div class="grid_12">
                                    <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}" ng-model="item.obj[jawab.id]">
                                    <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                        &nbsp;{{jawab.nama}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="grid_12">
                    <div class="grid_9"></div>
                    <div class="grid_3">
                        <div class="grid_12" style="margin-top: 10px;">
                            <div class="grid_12">
                                <label c-label item="item">Bulukumba</label>
                            </div>
                            <div class="grid_12">
                                <input style="width: 100%" k-ng-model="item.obj[428919]" kendo-datetimepicker placeholer="YYYY:MM:DD HH:MM"
                                    k-format="'yyyy-MM-dd HH:mm'" />
                            </div>
                        </div>
                        <div class="grid_12" style="margin-top: 10px;">
                            <div class="grid_12">
                                <label c-label item="item">Dokter Penanggung Jawab Pelayanan</label>
                            </div>
                            <div class="grid_12">
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[428920]" k-data-text-field="'text'"
                                    k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>

<br />
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>