<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;


    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>

 <!-- ng-class="{'my-disable':true}" -->
<!-- <div class="grid_12"  disable-contents="allDisabled" id="form"> -->
<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Check List Dan Observasi Transfusi Darah Rawat Inap</div>
        </div>

        <div class="grid_12">
            <fieldset style="margin-top: 10px;">
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">Tanggal dan Pukul</label>
                    </div>
                    <div class="grid_12">
                        <input k-ng-model="item.obj[31101376]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" />
                    </div>
                </div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">Ruangan</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101377]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listRuangan" />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="grid_12">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">Bila SESUAI, maka dilanjutkan ke pernyataan berikut :</label>
                    </div>
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">Bila TIDAK SESUAI? Cross check kembali ke bank darah RSUD H. Andi Sulthan Daeng Radja</label>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Jenis Darah</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_3">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101378]" id="item.obj[31101378]">
                                <label class="k-checkbox-label" for="item.obj[31101378]">&nbsp;Whole blood</label> 
                            </div>
                            <div class="grid_3">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31101379]" id="item.obj[31101379]">
                                <label class="k-checkbox-label" for="item.obj[31101379]">&nbsp;PRC</label>
                            </div>
                            <div class="grid_3">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31101380]" id="item.obj[31101380]">
                                <label class="k-checkbox-label" for="item.obj[31101380]">&nbsp;Trombosit</label>
                            </div>
                            <div class="grid_3">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31101381]" id="item.obj[31101381]">
                                <label class="k-checkbox-label" for="item.obj[31101381]">&nbsp;FFP</label>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Jumlah Kebutuhan Darah</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_6">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101382]" id="item.obj[31101382]">
                                <label class="k-checkbox-label" for="item.obj[31101382]">&nbsp;BAG / CC</label> 
                            </div>   
                        </div>
                    </div>                       
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Golongan Darah</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_3">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101383]" id="item.obj[31101383]">
                                <label class="k-checkbox-label" for="item.obj[31101383]">&nbsp;A</label> 
                            </div>
                            <div class="grid_3">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31101384]" id="item.obj[31101384]">
                                <label class="k-checkbox-label" for="item.obj[31101384]">&nbsp;B</label>
                            </div>
                            <div class="grid_3">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31101385]" id="item.obj[31101385]">
                                <label class="k-checkbox-label" for="item.obj[31101385]">&nbsp;O</label>
                            </div>
                            <div class="grid_3">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31101386]" id="item.obj[31101386]">
                                <label class="k-checkbox-label" for="item.obj[31101386]">&nbsp;AB</label>
                            </div>
                        </div>
                    </div>                       
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <table style="border: 1;">
                                <tr>
                                    <th>Nomor</th>
                                    <th>Nomor Kantong Darah</th>
                                    <th>Tanggal Kadaluarsa</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="item.obj[31101387]">
                                    </td>
                                    <td>
                                        <input k-ng-model="item.obj[31101388]" kendo-datetimepicker placeholer="HH:MM"
                                        k-format="'yyyy-MM-dd HH:mm'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="item.obj[31101389]">
                                    </td>
                                    <td>
                                        <input k-ng-model="item.obj[31101390]" kendo-datetimepicker placeholer="HH:MM"
                                        k-format="'yyyy-MM-dd HH:mm'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="item.obj[31101391]">
                                    </td>
                                    <td>
                                        <input k-ng-model="item.obj[31101392]" kendo-datetimepicker placeholer="HH:MM"
                                        k-format="'yyyy-MM-dd HH:mm'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="item.obj[31101393]">
                                    </td>
                                    <td>
                                        <input k-ng-model="item.obj[31101394]" kendo-datetimepicker placeholer="HH:MM"
                                        k-format="'yyyy-MM-dd HH:mm'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="item.obj[31101395]">
                                    </td>
                                    <td>
                                        <input k-ng-model="item.obj[31101396]" kendo-datetimepicker placeholer="HH:MM"
                                        k-format="'yyyy-MM-dd HH:mm'" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>                       
                </div>
                <div class="grid_12">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">Petugas Yang Melakukan Pengecekan</label>
                    </div>
                </div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">Petugas 1</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101397]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                    </div>
                </div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">Petugas 2</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101398]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="grid_12">
            <fieldset style="margin-top: 10px;">
                <legend><b>CATATAN PERKEMBANGAN</b></legend>
                <div class="grid_12">
                    <table style="border: 1;">
                        <tr>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">Tgl/Jam</th>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">TD</th>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">Nadi</th>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">Suhu</th>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">Pernapasan</th>
                            <th colspan="2" style="text-align: center; font-size: 7pt;">HB</th>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">Reaksi Transfusi</th>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">Perbedaan Kondisi Pasien</th>
                            <th rowspan="2" style="text-align: center; font-size: 7pt;">Nama & TTD</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; font-size: 7pt;">Pre Transfusi</th>
                            <th style="text-align: center; font-size: 7pt;">Post Transfusi</th>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101399]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101400]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101401]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101402]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101403]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101404]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101405]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101406]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101407]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101408]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101903]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101904]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101905]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101906]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101907]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101908]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101909]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101910]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101911]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101912]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101913]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101914]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101915]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101916]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101917]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101918]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101919]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101920]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101921]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101922]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101923]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101924]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101925]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101926]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101927]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101928]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101929]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101930]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101931]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101932]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101933]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101934]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101935]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101936]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101937]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101938]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101939]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101940]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101941]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101942]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101943]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101944]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101945]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101946]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101947]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101948]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101949]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101950]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101951]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101952]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101953]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101954]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101955]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101956]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101957]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101958]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101959]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101960]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101961]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101962]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101963]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101964]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101965]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101966]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101967]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101968]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101969]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101970]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101971]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101972]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101973]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101974]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101975]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101976]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101977]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101978]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101979]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101980]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101981]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101982]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                        <tr>
                            <td><input style="width: 100%;" k-ng-model="item.obj[31101983]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" /></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101984]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101985]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101986]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101987]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101988]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101989]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101990]"></td>
                            <td><input type="text" class="k-textbox" ng-model="item.obj[31101991]"></td>
                            <td><input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31101992]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /></td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>

        <div class="grid_12">
            <fieldset style="margin-top: 10px;">
                <legend><b>CATATAN :</b></legend>
                <div class="grid_12">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">1.	Observasi reaksi cepat	:	- 15 menit pertama dan kedua</label>
                    </div>
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">2.	Observasi reaksi lambat	:	- 60 menit kemudian dan selanjutnya tiap pergantian shift sampai 24 jam pasca transfusi</label>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="grid_12">
            <fieldset style="margin-top: 10px;">
                <legend><b>REAKSI TRANSFUSI</b></legend>
                <div class="grid_12">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">1.	Reaksi Cepat (terjadi selama transfuse atau dalam 24 jam setelah transfuse)</label>
                    </div>
                    <div class="grid_12" style="margin-top: 10px;">
                        <label item="item">&nbsp;&nbsp;&nbsp; a.	Reaksi ringan</label>
                    </div>
                    <div class="grid_12" style="margin-top: 10px;">
                        <label item="item">&nbsp;&nbsp;&nbsp; b.	Reaksi sedang – berat</label>
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101409]" id="item.obj[31101409]">
                                <label class="k-checkbox-label" for="item.obj[31101409]">&nbsp;Gejala gelisah, lemah pruritis, palpasi, sispnea ringan dan nyeri kepala</label> 
                            </div>
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101410]" id="item.obj[31101410]">
                                <label class="k-checkbox-label" for="item.obj[31101410]">&nbsp;Urtikaria, demam, takikardia, kaku otot</label>
                            </div>
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101411]" id="item.obj[31101411]">
                                <label class="k-checkbox-label" for="item.obj[31101411]">&nbsp;Demam, lemah, hipotensi (turun ≥ 20% tekanan darah sistolik), takikardia (naik ≥ 20%), Hemoglobinuria dan perdarahan yang tidak jelas</label>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="grid_12">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">2.	Reaksi Lambat timbul 5-10 hari setelah transfuse</label>
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101412]" id="item.obj[31101412]">
                                <label class="k-checkbox-label" for="item.obj[31101412]">&nbsp;Reaksi hemolitik lambat	: Gejala dan tanda demam, anemia, ikterik dan hemoglobinuria</label> 
                            </div>
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101413]" id="item.obj[31101413]">
                                <label class="k-checkbox-label" for="item.obj[31101413]">&nbsp;Purpur pasca transfuse : Timbul perdarahan dan adanya trombositopenia berat, akut trombosit < 100.000/uL, hitung trombosit ≤ 50.000/uL dan perdarahan yang tidak terlihat dengan hitung trombosit	20.000/uL</label>
                            </div>
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101414]" id="item.obj[31101414]">
                                <label class="k-checkbox-label" for="item.obj[31101414]">&nbsp;Penyakit graft-versus-host : Gejala demam, rash kulit dan deskuamasi, diare, hepatitis, pansitopenia, biasanya timbul 10-12 hari setelah transfuse. Tidak ada terapi spesifik, tetapi hanya bersifat suportif</label>
                            </div>
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101415]" id="item.obj[31101415]">
                                <label class="k-checkbox-label" for="item.obj[31101415]">&nbsp;	Kelebihan besi ditandai gagal organ (jantung dan hati), kadar Fe Serum dan femitin meningkat lebih dari normal</label>
                            </div>
                            <div class="grid_12" style="margin-top: 10px">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31101416]" id="item.obj[31101416]">
                                <label class="k-checkbox-label" for="item.obj[31101416]">&nbsp;Infeksi yang berisiko terjadi akibat transfuse adalah Hepatitis B dan C, HIV, CMV, Malaria, Sifilis, Bruselosis, Tipanosoiasis </label>
                            </div>
                        </div>
                    </div>                       
                </div>

                <div class="grid_12">
                    <div class="grid_12">
                        <label c-label item="item" style="margin-top: 10px;">3.	Penanganan Reaksi Transfusi</label>
                    </div>
                </div>

                <div class="grid_12">
                    <div class="grid_12" style="margin-top: 10px">
                        <label item="item" style="margin-top: 10px;">a.	Hentikan segera pemberian transfusi</label>
                    </div>
                </div>

                <div class="grid_12">
                    <div class="grid_12" style="margin-top: 10px">
                        <label item="item" style="margin-top: 10px;">b.	Pertahankan infus dengan pemberian NaCl 0.9%</label>
                    </div>
                </div>

                <div class="grid_12">
                    <div class="grid_12" style="margin-top: 10px">
                        <label item="item" style="margin-top: 10px;">c.	Periksa ulang : Label darah donor, surat permintaan transfusi, identifikasi penderita</label>
                    </div>
                </div>

                <div class="grid_12">
                    <div class="grid_12" style="margin-top: 10px">
                        <label item="item" style="margin-top: 10px;">d.	Segera lapor terjadinya reaksi transfusi pada dokter jaga, petugas Bank Darah Rumah Sakit</label>
                    </div>
                </div>

                <div class="grid_12">
                    <div class="grid_12" style="margin-top: 10px">
                        <label item="item" style="margin-top: 10px;">e.	Kirim minimal 10 cc darah penderita tanpa antikoagulan bersama-sama dengan sisa darah ke laboratorium untuk penelitian reaksi transfusi</label>
                    </div>
                </div>

                <div class="grid_12">
                    <div class="grid_12" style="margin-top: 10px">
                        <label item="item" style="margin-top: 10px;">f.	Tamping urin penderita 24 jam</label>
                    </div>
                </div>

                <div class="grid_12">
                    <div class="grid_12" style="margin-top: 10px">
                        <label item="item" style="margin-top: 10px;">g.	Kirim urin penderita untuk evaluasi sebab-sebab terjadinya reaksi transfusi dan penentuan prognosis</label>
                    </div>
                </div>

            </fieldset>
        </div>

    </div>
</div>

<br />
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>