<style type="text/css">
    .tablecppt,
    .tablecppt th,
    .tablecppt td {
        border: 1px solid #cccccc;
        border-collapse: collapse;
        padding: 5px;
    }

    .tablecppt th,
    .tablecppt td {
        padding: 5px;
        text-align: left;
    }

    .txt-primary {
        color: #363940;
        font-size: 15pt;
    }
    .txt-danger {
        color: #c53938;
        font-size: 15pt;
    }
    .btn-custom-ck {
        padding: 0;
        background-color: none;
        border: none;
    }
</style>
<div class="container_12">
    <div class="grid_12">
        <div class="container_12">
            <div class="grid_12">
                <div class="grid_12 headerBox">
                    <p>Daftar Riwayat CPPT</p>
                </div>
                <!-- <div class="grid_12"> -->
                <div class="grid_12 borderBox">
                    <kendo-grid id="kGrid" data-source="dataGridRiwayatCPPT" options="columnGridRiwayatCPPT"
                        k-selectable="'row'" k-sortable="'true'" k-resizable="'true'"
                        k-ng-model="dataSelectedRiwayatCPPT" k-on-change="onSelectionGrid(kendoEvent)">
                    </kendo-grid>
                </div>
            </div>
            <div class="grid_12">
                <br>
            </div>
            <div class="grid_12">
                <div class="panel panel-default container_12">
                        <div class="panel-heading" c-translate>CPPT</div>
                </div>
                <div class="grid_12" style="margin: 20px 0px">
                    <table style="width:100%;" class="tablecppt">
                        <tr style="background-color: #363940;color: #f3f3f4;">
                            <td style="text-align: center;width: 13%"><b>Tanggal/Jam</b></td>
                            <td style="text-align: center;width: 10%"><b>Profesional<br>Pemberi<br>Asuhan</b></td>
                            <td style="text-align: center;width: 35%;border-bottom: none;" >
                                <b>Hasil Asesmen Pasien dan Pemberian Pelayanan</b><br>
                                <span>(Tulis dengan format SOAP/ADIME, disertai saran, tulis nama, beri paraf pada akhir catatan)</span>
                            </td>
                            <td style="text-align: center;width: 25%;border-bottom: none;" >
                                <b>Instruksi PPA <br> Termasuk Pasca Bedah</b>
                            </td>
                            <td style="text-align: center;width: 15%"><b>Review & Verifikasi DPJP</b><br>
                                <span>(Tulis nama, beri paraf, Tgl, Jam)</span><br>
                                <span>(DPJP harus membaca/mereview seluruh rencana asuhan)</span><br>
                            </td>
                            <!-- <td style="text-align: center;width: 2%">#</td> -->
                        </tr>
                        <tr ng-repeat="list in listDataCppt" ng-show="show.obj[list.id]">
                            <td ng-repeat="jawab in list.detail | orderBy:'id'">
                                <div ng-switch on="jawab.type">
                                    <div ng-switch-when="tgl/jam">
                                        <input style="width: 100%" k-ng-model="item.obj[jawab.id]" ng-disabled="item.obj2[jawab.id]" kendo-datetimepicker placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                                    </div>
                                    <div ng-switch-when="ppa">
                                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id]" ng-disabled="item.obj2[jawab.id]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisPegawai" /> 
                                    </div>
                                    <div ng-switch-when="soap">
                                        <textarea cols="6" rows="10" c-text-area type="input" filter="'string'" class="k-textbox"
                                            ng-model="item.obj[jawab.id]" ng-disabled="item.obj2[jawab.id]" />
                                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id2]" ng-disabled="item.obj2[jawab.id2]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />  
                                    </div>
                                    <div ng-switch-when="intruksi">
                                        <textarea cols="6" rows="13" c-text-area type="input" filter="'string'" class="k-textbox" style="{{jawab.style}}"
                                            ng-model="item.obj[jawab.id]" ng-disabled="item.obj2[jawab.id]" />
                                    </div>
                                    <div ng-switch-when="review">
                                        <textarea rows="8" c-text-area type="input" filter="'string'" class="k-textbox"
                                            ng-model="item.obj[jawab.id]" ng-disabled="item.obj2[jawab.id]" />
                                        <input style="width: 100%" k-ng-model="item.obj[jawab.id2]" ng-disabled="item.obj2[jawab.id2]" kendo-datetimepicker placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id3]" ng-disabled="item.obj2[jawab.id3]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" /> 
                                    </div>
                                </div>
                            </td>
                            <!-- <td style="text-align: center;">
                                <button class="btn-custom-ck" ng-if="list.id != 22035003" ng-show="showbtnadd[list.id]" ng-click="addobj(list.id, listDataCppt[$index + 1].id)"><i class="fa fa-plus-circle txt-primary" aria-hidden="true"></i></button>
                                <button class="btn-custom-ck" ng-if="list.id != 22034963" ng-show="showbtnremove[list.id]" ng-click="removeobj(list.id, listDataCppt[$index - 1].id)"><i class="fa fa-minus-circle txt-danger" aria-hidden="true"></i></button>
                            </td> -->
                        </tr>
                    </table>
                </div>
            </div>
            <div class="grid_12" >
                <div ui-view></div>
            </div>
        </div>
        <div class="grid_12" >
            <div class="grid_3"></div>
            <div class="grid_9">
                <div class="grid_2" ng-show="isCetakV"  >
                   
                </div>
                <div class="grid_6"  ng-show="!isRiwayat && !isCetak && !isCetakV && !isUpload">
                </div>
                <div class="grid_2" style="margin-top: 22px" ng-show='tombolSimpanVis'>
                    <!-- <button class="btnTemplate1" ng-click="Save()"><i class="fa fa-save"></i>Simpan</button> -->
                </div>
                <div class="grid_2" style="margin-top: 22px" ng-show="isRiwayat">
                    <button class="btnTemplate1" ng-click="Riwayat()"><i class="fa fa-th-list"></i>Riwayat</button>
                </div>
                <div class="grid_2" style="margin-top: 22px">
                    <button class="btnTemplate1" ng-click="Batal()"><i class="fa fa-refresh"></i>Batal</button>
                </div>
                <div class="grid_2" style="margin-top: 22px">
                    <button class="btnTemplate1 cancel" ng-click="kembali()"><i class="fa fa-arrow-left"></i>Kembali</button>
                </div>
                <div class="grid_2" ng-show="isCetak"  style="margin-top: 22px">
                    <button class="btnTemplate1" ng-click="cetakPdf()"><i class="fa fa-upload"></i>Cetak</button>
                </div>
                <div class="grid_2" ng-show="isUpload"  style="margin-top: 22px;">
                    <button class="btnTemplate1" style="background-color:coral;" ng-click="upload()"><i class="fa fa-upload"></i>Upload</button>
                </div>
                 <div class="grid_2" ng-show="isCetakV"  style="margin-top: 22px">
                    <button class="btnTemplate1" ng-click="cetakBlade()"><i class="fa fa-print"></i>Cetak View</button>
                </div>
            </div>
          
        </div>
    </div>
    </div>
</div>
<div kendo-window="popUps" k-title="'Detail Riwayat CPPT'" k-width="1200" k-visible="false">
    <div class="panel panel-default container_12">
        <!-- Riwayat CPPT Rajal LAMA -->
        <div ng-show="RiwayatCPPTRJLama">
            <div ng-repeat="list in listDataCpptLama" class="grid_6" style=" padding-top: 20px;">
                <div class="grid_12" style="margin-left: 5px;margin-bottom: -5px;margin-top: 5px"> 
                    <p style="position: relative;z-index: 1;background-color: #41abf2;color: white;font-size:18px;padding: 10px 15px;border-bottom: 1px solid transparent;margin-left: -5px;margin-top:-10px">{{list.nama}}</p>
                </div>
                <div ng-repeat="jawab in list.detail" class="grid_12"> 
                    <div ng-switch on="jawab.type" style="margin-top: -15px;">
                        <div ng-switch-when="textbox">
                            <div class="grid_12" style="margin-left: 5px;margin-top: 0px;margin-bottom: 0px"> 
                                <div class="grid_12">
                                    <p >{{jawab.nama}}</p>
                                </div>
                                <div class="grid_8"  style="margin-top: -15px;margin-bottom: -5px;margin-left: 20px"> 
                                    <input class="k-textbox" ng-model="item.rcppt[jawab.id]" type="text" placeholder="{{jawab.satuan}}" ng-value="{{jawab.value}}" readonly>
                                </div>
                                <p >{{jawab.satuan}}</p>
                                <div class="grid_4">
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="textarea">
                            <div class="grid_10">
                                <div class="grid_12">
                                    <p >{{jawab.nama}}</p>
                                </div>
                                <div class="grid_12"  style="margin-top: -10px;margin-bottom: -5px;margin-left: 25px"> 
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.rcppt[jawab.id]" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Riwayat CPPT Rajal LAMA -->
        <!-- Riwayat CPPT Rajal BARU -->
        <div ng-show="RiwayatCPPTRJBaru">
            <table style="width:100%;" class="tablecppt">
                <tr style="background-color: #363940;color: #f3f3f4;">
                    <td style="text-align: center;width: 13%"><b>Tanggal/Jam</b></td>
                    <td style="text-align: center;width: 10%"><b>Profesional<br>Pemberi<br>Asuhan</b></td>
                    <td style="text-align: center;width: 35%;border-bottom: none;" >
                        <b>Hasil Asesmen Pasien dan Pemberian Pelayanan</b><br>
                        <span>(Tulis dengan format SOAP/ADIME, disertai saran, tulis nama, beri paraf pada akhir catatan)</span>
                    </td>
                    <td style="text-align: center;width: 25%;border-bottom: none;" >
                        <b>Instruksi PPA <br> Termasuk Pasca Bedah</b>
                    </td>
                    <td style="text-align: center;width: 15%"><b>Review & Verifikasi DPJP</b><br>
                        <span>(Tulis nama, beri paraf, Tgl, Jam)</span><br>
                        <span>(DPJP harus membaca/mereview seluruh rencana asuhan)</span><br>
                    </td>
                </tr>
                <tr ng-repeat="list in listDataCppt" ng-show="item.rcppt[list.id]!=undefined">
                    <td ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div ng-switch on="jawab.type">
                            <div ng-switch-when="tgl/jam">
                                <input style="width: 100%" k-ng-model="item.rcppt[jawab.id]" ng-disabled="true" kendo-datetimepicker placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </div>
                            <div ng-switch-when="ppa">
                                <input style="width: 100%;" ng-model="item.rcppt[jawab.id]" ng-disabled="true" type="text" class="k-textbox" /> 
                            </div>
                            <div ng-switch-when="soap">
                                <textarea cols="6" rows="10" c-text-area type="input" filter="'string'" class="k-textbox"
                                    ng-model="item.rcppt[jawab.id]" ng-disabled="true" />
                                <input style="width: 100%;" ng-model="item.rcppt[jawab.id2]" ng-disabled="true" type="text" class="k-textbox" />  
                            </div>
                            <div ng-switch-when="intruksi">
                                <textarea cols="6" rows="13" c-text-area type="input" filter="'string'" class="k-textbox" style="{{jawab.style}}"
                                    ng-model="item.rcppt[jawab.id]" ng-disabled="true" />
                            </div>
                            <div ng-switch-when="review">
                                <textarea rows="8" c-text-area type="input" filter="'string'" class="k-textbox"
                                    ng-model="item.rcppt[jawab.id]" ng-disabled="true" />
                                <input style="width: 100%" k-ng-model="item.rcppt[jawab.id2]" ng-disabled="true" kendo-datetimepicker placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                                <input style="width: 100%;" ng-model="item.rcppt[jawab.id3]" ng-disabled="true" type="text" class="k-textbox" /> 
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- END Riwayat CPPT Rajal BARU -->
        <!-- Riwayat CPPT Ranap -->
        <div ng-show="RiwayatCPPTRI">
            <div ng-include='"../app/module/EMR/CpptHistoryRajalMenu"' ng-if="RiwayatCPPTRI"></div>
        </div>
        <!-- END Riwayat CPPT Ranap -->
    </div>
    <div class="k-edit-buttons  k-state-default pull-right" style="margin-top:10px">
        <button class="k-button k-button-icontext k-primary" ng-click="tutupcppt()"><span
                class="k-icon k-cancel"></span>Kembali</button>
    </div>
</div>