<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }


    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }

    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>

<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate> Formulir Pemberian Keringanan Biaya </div>
        </div>

            <div class="grid_12" style="margin-top: 20px">
                <table style="width:100%;color: #4c5356;">
                    <tr>
                        <th style="font-weight: bold;text-align: center;">No</th>
                        <th style="font-weight: bold;text-align: center">Jenis Pelayanan</th>
                        <th style="font-weight: bold;text-align: center">Tarif</th>
                        <th style="font-weight: bold;text-align: center">Jumlah Keringanan</th>
                        <th style="font-weight: bold;text-align: center">Jumlah Dibayar</th>
                        <th style="font-weight: bold;text-align: center">Keterangan</th>
                    </tr>
                    <tr ng-repeat="list in listData1 | orderBy:'id'" ng-init="jawabIndex = $index">
                                
                        <td >{{list.namaexternal}}</td>
                        <!-- <td >{{list.reportdisplay}}</td> -->
                        <td style="text-align: center;" ng-repeat="jawab in list.details">
                            <div class="grid_12">
                                <div ng-switch on="jawabIndex">

                                    
                                </div>

                            <div ng-switch on="jawab.type">

                                    <div ng-switch-when="datetime">
                                        <input style="width: 100%" k-ng-model="item.obj[jawab.id]" kendo-datetimepicker placeholer="yyyy-MM-dd HH:mm"
                                            k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                                    </div>
                                    <div ng-switch-when="textbox">
                                        <input class="k-textbox" ng-model="item.obj[jawab.id]" type="text"
                                            ng-value="{{jawab.value}}">
                                        <label class="k-textbox-label" for="item.obj{{jawab.id}}">
                                            &nbsp;{{jawab.nama}}</label>

                                    </div>
                                    <div ng-switch-when="checkbox">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}"
                                            ng-model="item.obj[jawab.id]" ng-click="getSkor(jawab)">
                                        <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                            &nbsp;{{jawab.nama}}</label>
                                        
                                    </div>
                                    <div ng-switch-when="combobox">
                                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id]"
                                            k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                            k-auto-bind="false" k-data-source="listProduk" />
                                    </div>
                                    <!-- <div ng-switch-when="combobox2">
                                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id]"
                                            k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                            k-auto-bind="false" k-data-source="item.objcbo[jawab.id]" />
                                    </div> -->
                                    <div ng-switch-when="textarea">
                                        <textarea style="width: 250px;height: 80px" c-text-area type="input" filter="'string'" class="k-textbox"
                                        ng-model="item.obj[jawab.id]"></textarea>
                                    </div>
                                    <div ng-switch-when="date">
                                        <input style="width: 100%" k-ng-model="item.obj[jawab.id]" kendo-datepicker placeholer="yyyy-MM-dd"
                                            k-format="'yyyy-MM-dd'" parsedate="yyyy-MM-dd" />
                                    </div>
                                    <div ng-switch-when="time">
                                        <input style="width: 100%" k-ng-model="item.obj[jawab.id]" kendo-timepicker placeholer="HH:mm"
                                            k-format="'HH:mm'" parsedate="HH:mm" />
                                    </div>

                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid_12">
                <!-- <div class="grid_8"></div> -->

                <div class="grid_12">
                    <div class="grid_4">
                        <fieldset style="margin-top:10px;border-radius: 10px;height: 50px;">
                            <!-- <div style="padding: 20px;"> -->
                                <div class="grid_12">
                                    <div class="grid_12">
                                        <label c-label item="item" c-label-text="Tanggal dan Jam"></label>
                                    </div>
                                    <div class="grid_12">
                                        <input style="width: 100%" k-ng-model="item.obj[33000080]" kendo-datetimepicker
                                            placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'"
                                            parsedate="yyyy-MM-dd HH:mm" />
    
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_6">
                        <fieldset style="margin-top:10px;border-radius: 10px;height: 100px;">
                            <div style="padding: 20px;">
                                <div class="grid_12">
                                    <div class="grid_12">
                                        <label c-label item="item">Mengetahui</label>
                                        <label c-label item="item">Direktur RSUD Dr. Iskak TulungAgung</label>
                                    </div>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[33000081]" type="text" readonly>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="grid_6">
                        <fieldset style="margin-top:10px;border-radius: 10px;height: 100px;">
                            <div style="padding: 20px;">
                                <div class="grid_12">
                                    <div class="grid_12">
                                        <label c-label item="item">&nbsp;</label>
                                        <label c-label item="item">Pemohon</label>
                                    </div>
                                    <div class="grid_12">
                                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[33000082]"
                                            k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                            k-auto-bind="false" k-data-source="listPegawai" />
    
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div> 
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>