<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;


    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>

 <!-- ng-class="{'my-disable':true}" -->
<!-- <div class="grid_12"  disable-contents="allDisabled" id="form"> -->
<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Laporan Operasi Rawat Jalan</div>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item">Dokter DPJP</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100530]" ng-disable="item.obj[31100530]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                    </div>
                </div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item">Nama Asisten</label>
                    </div>
                    <!-- <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100531]" ng-disable="item.obj[31100531]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                    </div> -->
                </div>
                <div class="grid_6"></div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item">Asisten I</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100532]" ng-disable="item.obj[31100532]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                    </div>
                </div>
                <div class="grid_6"></div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item">Asisten II</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100533]" ng-disable="item.obj[31100533]" 
                        k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listAsisten" />
                    </div>
                </div>
                <div class="grid_6"></div>
                <div class="grid_6">
                    <div class="grid_12" style="margin-top: 10px;">
                        <label c-label item="item">Nama Perawat</label>
                    </div>
                    <!-- <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100534]" ng-disable="item.obj[31100534]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                    </div> -->
                </div>
                <div class="grid_6"></div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item">Scrub</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100535]" ng-disable="item.obj[31100535]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listAsisten" />
                    </div>
                </div>
                <div class="grid_6"></div>
                <div class="grid_6">
                    <div class="grid_12">
                        <label c-label item="item">Sirkuler</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100536]" ng-disable="item.obj[31100536]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listAsisten" />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Nama Dokter Anestesi</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100537]" ng-disable="item.obj[31100537]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Jenis Anestesi</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100538]" id="item.obj[31100538]">
                                <label class="k-checkbox-label" for="item.obj[31100538]">&nbsp;General Anestesi</label> 
                            </div>
                            <div class="grid_4">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31100539]" id="item.obj[31100539]">
                                <label class="k-checkbox-label" for="item.obj[31100539]">&nbsp;Regional Anestesi</label>
                            </div>
                            <div class="grid_4">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31100540]" id="item.obj[31100540]">
                                <label class="k-checkbox-label" for="item.obj[31100540]">&nbsp;Lokal Anestesi</label>
                            </div>
                        </div>
                    </div>                       
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Diagnose Pre-Operatif</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100541]">
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Komplikasi Selama Operasi</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100542]">
                    </div>                      
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Diagnose Pasca Operatif</label>
                        <textarea style="width: 100%;height: 100px" cols="3" rows="2" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[31100543]"></textarea>
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Intake</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100544]" id="item.obj[31100544]">
                                <label class="k-checkbox-label" for="item.obj[31100544]">&nbsp;Kristaloid (cc)</label> 
                            </div>
                            <div class="grid_4">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31100545]" id="item.obj[31100545]">
                                <label class="k-checkbox-label" for="item.obj[31100545]">&nbsp;Expander (cc)</label>
                            </div>
                            <div class="grid_4">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31100546]" id="item.obj[31100546]">
                                <label class="k-checkbox-label" for="item.obj[31100546]">&nbsp;Darah (cc)</label>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Out Put</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100547]" id="item.obj[31100547]">
                                <label class="k-checkbox-label" for="item.obj[31100547]">&nbsp;Darah (cc)</label> 
                            </div>
                            <div class="grid_4">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31100548]" id="item.obj[31100548]">
                                <label class="k-checkbox-label" for="item.obj[31100548]">&nbsp;Urine (cc)</label>
                            </div>
                            <div class="grid_4">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="k-checkbox" ng-model="item.obj[31100549]" id="item.obj[31100549]">
                                <label class="k-checkbox-label" for="item.obj[31100549]">&nbsp;Lain-lain (cc)</label>
                            </div>
                        </div>
                    </div>                       
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Prosedur Tindakan yang Dilakukan</label>
                        <textarea style="width: 100%;height: 100px" cols="3" rows="2" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[31100550]"></textarea>
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item"></label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100551]" id="item.obj[31100551]">
                                <label class="k-checkbox-label" for="item.obj[31100551]">&nbsp;Khusus</label> 
                            </div>
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100552]" id="item.obj[31100552]">
                                <label class="k-checkbox-label" for="item.obj[31100552]">&nbsp;Besar</label>
                            </div>
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100553]" id="item.obj[31100553]">
                                <label class="k-checkbox-label" for="item.obj[31100553]">&nbsp;Sedang</label>
                            </div>
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100554]" id="item.obj[31100554]">
                                <label class="k-checkbox-label" for="item.obj[31100554]">&nbsp;Kecil</label>
                            </div>
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100555]" id="item.obj[31100555]">
                                <label class="k-checkbox-label" for="item.obj[31100555]">&nbsp;Elektif</label>
                            </div>
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100556]" id="item.obj[31100556]">
                                <label class="k-checkbox-label" for="item.obj[31100556]">&nbsp;Emergency</label>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Dikirim Untuk Pemeriksaan P.A</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100557]" id="item.obj[31100557]">
                                <label class="k-checkbox-label" for="item.obj[31100557]">&nbsp;Ya</label> 
                            </div>
                            <div class="grid_4">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100558]" id="item.obj[31100558]">
                                <label class="k-checkbox-label" for="item.obj[31100558]">&nbsp;Tidak</label>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Jenis Luka Operasi</label>
                        </div>
                        <div class="grid_12" style="margin-top: 10px">
                            <div class="grid_3">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100559]" id="item.obj[31100559]">
                                <label class="k-checkbox-label" for="item.obj[31100559]">&nbsp;Kotor</label> 
                            </div>
                            <div class="grid_3">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100560]" id="item.obj[31100560]">
                                <label class="k-checkbox-label" for="item.obj[31100560]">&nbsp;Kontaminasi</label>
                            </div>
                            <div class="grid_3">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100561]" id="item.obj[31100561]">
                                <label class="k-checkbox-label" for="item.obj[31100561]">&nbsp;Potensial Kontaminasi</label> 
                            </div>
                            <div class="grid_3">
                                <input type="checkbox" class="k-checkbox" ng-model="item.obj[31100562]" id="item.obj[31100562]">
                                <label class="k-checkbox-label" for="item.obj[31100562]">&nbsp;Bersih</label>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">No. Alat yang Dipasang</label>
                        <textarea style="width: 100%;height: 80px" cols="3" rows="2" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[31100563]"></textarea>
                    </div>                      
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Tanggal Operasi</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 90%" k-ng-model="item.obj[31100564]" kendo-datepicker placeholer="YYYY:MM:DD"
                                k-format="'yyyy-MM-dd'" />
                        </div>
                    </div>                      
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Jam Operasi Dimulai</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 90%" k-ng-model="item.obj[31100565]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" />
                        </div>
                    </div>                      
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Jam Operasi Selesai</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 90%" k-ng-model="item.obj[31100566]" kendo-datetimepicker placeholer="HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" />
                        </div>
                    </div>                      
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label c-label item="item">Lama Operasi Berlangsung</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 90%" k-ng-model="item.obj[31100567]" kendo-datetimepicker placeholer="YYYY:MM:DD"
                                k-format="'yyyy-MM-dd'" />
                        </div>
                    </div>                      
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Laporan/Tindakan Operasi</label>
                        <textarea style="width: 100%;height: 200px" cols="3" rows="2" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[31100568]"></textarea>
                    </div>                      
                </div>
                <div class="grid_6" style="margin-top: 10px;"></div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Tanda Tangan dan Nama Dokter</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100569]" ng-disable="item.obj[31100569]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Intruksi Pasca Bedah</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100570]">
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">1. Kontrol Nadi/Tensi/Nafas/Suhu</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100571]">
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">2. Puasa</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100572]">
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">3. Infus</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100573]">
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">4. Antibiotika</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100574]">
                    </div>                      
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">5. Lain-lain</label>
                        <input type="text" class="k-textbox" ng-model="item.obj[31100575]">
                    </div>                      
                </div>
                <div class="grid_6" style="margin-top: 10px;"></div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">DPJP</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31100576]" ng-disable="item.obj[31100576]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<br />
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>