<c-panel item="item" header="'MenuEwsKebidanan'" disabled>
    <div class="panel panel-default container_12">
        <div class="breadcrum detail" style='margin-top: 0px;'>
            <!-- <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan')">Tab 1
                </a>
            </div> -->
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan')">Tab 1
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan2'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan2')">Tab 2
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan3'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan3')">Tab 3
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan4'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan4')">Tab 4
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan5'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan5')">Tab 5
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan6'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan6')">Tab 6
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan7'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan7')">Tab 7
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan8'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan8')">Tab 8
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan9'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan9')">Tab 9
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan10'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan10')">Tab 10
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan11'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan11')">Tab 11
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan12'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan12')">Tab 12
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan13'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan13')">Tab 13
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan14'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan14')">Tab 14
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuEWSBidan == 'RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan15'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuEWSBidan.SkorEWSBidan15')">Tab 15
                </a>
            </div>

        </div>
    </div>
</c-panel>
<style type="text/css">
    .active {
        /* background-color: white !important; */
        background-color: rgb(255, 64, 129) !important;
        color: white !important;
        display: block;
        padding: 10px 0 20px;
        font-weight: 600;
    }

    .breadcrum a.default {
        background: white;
    }

    .breadcrum a:hover {
        background: #41abf2;
        color: white;
        border-bottom: solid 5px rgb(255, 64, 129);
    }

    .breadcrum a {
        color: rgb(63, 81, 181);
        border-bottom: solid 5px rgb(255, 64, 129);
        border-top: solid 1px #cccccc;
        border-right: solid 1px #cccccc;
    }
</style>
<div ui-view></div>