<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;


    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }
    td {
        padding: 5px;
        text-align: left;
    }
    th {
        padding: 5px;
        text-align: center;
    }
    .clicks{
        cursor: pointer;
    }
</style>

 <!-- ng-class="{'my-disable':true}" -->
<!-- <div class="grid_12"  disable-contents="allDisabled" id="form"> -->
<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Permintaan Pemeriksaan Penunjang</div>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="text-align: center;">
                    <label c-label item="item"><i>(Laboratorium, Radiologi, EKG, dll)</i></label>
                </div>
                <div class="grid_12" style="margin-top: 20px;">
                    <table>
                        <tr>
                            <th style="width: 250px;">Tgl</th>
                            <th>Jenis Permintaan</th>
                            <th style="width: 250px;">Nama & Ttd</th>
                            <th>Keterangan</th>
                            <th style="width: 20px;"></th>
                        </tr>
                        <!-- 1 -->
                        <!-- 2 -->
                        <tr>
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421500]" ng-disabled="item.obj2[421500]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[421501]" ng-disabled="item.obj2[421501]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421502]" ng-disabled="item.obj2[421502]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[421503]" ng-disabled="item.obj2[421503]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 2 -->
                        <!-- 3 -->
                        <tr ng-show="item.obj[421504]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421504]" ng-disabled="item.obj2[421504]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421505]" ng-disabled="item.obj2[421505]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421506]" ng-disabled="item.obj2[421506]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421507]" ng-disabled="item.obj2[421507]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 3 -->
                        <!-- 4 -->
                        <tr ng-show="item.obj[421508]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421508]" ng-disabled="item.obj2[421508]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421509]" ng-disabled="item.obj2[421509]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421510]" ng-disabled="item.obj2[421510]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421511]" ng-disabled="item.obj2[421511]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 4 -->
                        <!-- 5 -->
                        <tr ng-show="item.obj[421512]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421512]" ng-disabled="item.obj2[421512]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421513]" ng-disabled="item.obj2[421513]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421514]" ng-disabled="item.obj2[421514]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421515]" ng-disabled="item.obj2[421515]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 5 -->
                        <!-- 6 -->
                        <tr ng-show="item.obj[421516]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421516]" ng-disabled="item.obj2[421516]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421517]" ng-disabled="item.obj2[421517]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421518]" ng-disabled="item.obj2[421518]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421519]" ng-disabled="item.obj2[421519]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 6 -->
                        <!-- 7 -->
                        <tr ng-show="item.obj[421520]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421520]" ng-disabled="item.obj2[421520]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421521]" ng-disabled="item.obj2[421521]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421522]" ng-disabled="item.obj2[421522]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421523]" ng-disabled="item.obj2[421523]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 7 -->
                        <!-- 8 -->
                        <tr ng-show="item.obj[421524]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421524]" ng-disabled="item.obj2[421524]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421525]" ng-disabled="item.obj2[421525]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421526]" ng-disabled="item.obj2[421526]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421527]" ng-disabled="item.obj2[421527]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 8 -->
                        <!-- 9 -->
                        <tr ng-show="item.obj[421528]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421528]" ng-disabled="item.obj2[421528]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421529]" ng-disabled="item.obj2[421529]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421530]" ng-disabled="item.obj2[421530]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421531]" ng-disabled="item.obj2[421531]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 9 -->
                        <!-- 10 -->
                        <tr ng-show="item.obj[421532]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421532]" ng-disabled="item.obj2[421532]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421533]" ng-disabled="item.obj2[421533]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421534]" ng-disabled="item.obj2[421534]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421535]" ng-disabled="item.obj2[421535]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 10 -->
                        <!-- 11 -->
                        <tr ng-show="item.obj[421536]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421536]" ng-disabled="item.obj2[421536]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421537]" ng-disabled="item.obj2[421537]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421538]" ng-disabled="item.obj2[421538]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421539]" ng-disabled="item.obj2[421539]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 11 -->
                        <!-- 12 -->
                        <tr ng-show="item.obj[421540]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421540]" ng-disabled="item.obj2[421540]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421541]" ng-disabled="item.obj2[421541]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421542]" ng-disabled="item.obj2[421542]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421543]" ng-disabled="item.obj2[421543]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 12 -->
                        <!-- 13 -->
                        <tr ng-show="item.obj[421544]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421544]" ng-disabled="item.obj2[421544]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421545]" ng-disabled="item.obj2[421545]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421546]" ng-disabled="item.obj2[421546]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421547]" ng-disabled="item.obj2[421547]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 13 -->
                        <!-- 14 -->
                        <tr ng-show="item.obj[421548]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421548]" ng-disabled="item.obj2[421548]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421549]" ng-disabled="item.obj2[421549]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421550]" ng-disabled="item.obj2[421550]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421551]" ng-disabled="item.obj2[421551]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 14 -->
                        <!-- 15 -->
                        <tr ng-show="item.obj[421552]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421552]" ng-disabled="item.obj2[421552]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421553]" ng-disabled="item.obj2[421553]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421554]" ng-disabled="item.obj2[421554]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421555]" ng-disabled="item.obj2[421555]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 15 -->
                        <!-- 16 -->
                        <tr ng-show="item.obj[421556]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421556]" ng-disabled="item.obj2[421556]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421557]" ng-disabled="item.obj2[421557]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421558]" ng-disabled="item.obj2[421558]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421559]" ng-disabled="item.obj2[421559]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 16 -->
                        <!-- 17 -->
                        <tr ng-show="item.obj[421560]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421560]" ng-disabled="item.obj2[421560]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421561]" ng-disabled="item.obj2[421561]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421562]" ng-disabled="item.obj2[421562]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421563]" ng-disabled="item.obj2[421563]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 18 -->
                        <!-- 19 -->
                        <tr ng-show="item.obj[421564]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421564]" ng-disabled="item.obj2[421564]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421565]" ng-disabled="item.obj2[421565]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421566]" ng-disabled="item.obj2[421566]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421567]" ng-disabled="item.obj2[421567]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 19 -->
                        <!-- 20 -->
                        <tr ng-show="item.obj[421568]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421568]" ng-disabled="item.obj2[421568]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421569]" ng-disabled="item.obj2[421569]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421570]" ng-disabled="item.obj2[421570]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421571]" ng-disabled="item.obj2[421571]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 20 -->
                        <!-- 21 -->
                        <tr ng-show="item.obj[421572]!=undefined">
                            <td>
                                <input style="width: 100%" k-ng-model="item.obj[421572]" ng-disabled="item.obj2[421572]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421573]" ng-disabled="item.obj2[421573]"></textarea>
                            </td>
                            <td>
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[421574]" ng-disabled="item.obj2[421574]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false"
                                    k-data-source="listPegawai" />
                            </td>
                            <td>
                                <textarea style="width: 95%;height: 200px" cols="6" rows="5" c-text-area type="input" filter="'string'"
                                    class="k-textbox" ng-model="item.obj[421575]" ng-disabled="item.obj2[421575]"></textarea>
                            </td>
                            <td>
                                <div class="grid_1" style="margin-top:20px" ng-show="show">
                                    <label ng-click="tambah()" class="clicks"><img src="stylesheets/Addd.png" width="25" alt="Picture"></label>
                                </div>
                            </td>
                        </tr>
                        <!-- 21 -->
                    </table>
                </div>
            </fieldset>
        </div>

    </div>
</div>

<br />
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>