<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;


    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>

 <!-- ng-class="{'my-disable':true}" -->
<!-- <div class="grid_12"  disable-contents="allDisabled" id="form"> -->
<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Permintaan Pelayanan Kerohanian</div>
        </div>
        <div class="grid_12" style="margin-top: 10px;"></div>
        <fieldset style="margin-top: 20px;">

            <div class="grid_12" style="margin-top: 10px;">
                <label item="item">Yang bertanda tangan dibawah ini saya :</label>
            </div>
            <div class="grid_4" style="margin-top: 10px;">
                <label c-label item="item">Nama : </label>
            </div>
            <div class="grid_6">
                <input class="k-textbox" ng-model="item.obj[31103670]" type="text">
            </div>
            <div class="grid_4" style="margin-top: 10px;">
                <label c-label item="item">Tanggal Lahir : </label>
            </div>
            <div class="grid_6">
                <input style="width: 100%" k-ng-model="item.obj[31103671]" kendo-datepicker placeholer="YYYY:MM:DD"
                    k-format="'yyyy-MM-dd'" />
            </div>
            <div class="grid_4" style="margin-top: 10px;">
                <label c-label item="item">Alamat : </label>
            </div>
            <div class="grid_6" style="margin-top: 10px;">
                <textarea cols="6" rows="4" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[31103672]" />
            </div>
            <div class="grid_4" style="margin-top: 10px;">
                <label c-label item="item">Hubungan Dengan Pasien : </label>
            </div>
            <div class="grid_6">
                <input class="k-textbox" ng-model="item.obj[31103673]" type="text">
            </div>

            <div class="grid_12" style="margin-top: 30px;">
                <label item="item">
                    Dengan ini mengajukan permintaan pelayanan rohaniawan agama (beri tanda √) :
                </label>
                <div class="grid_12">
                    <div class="grid_4">
                        <input type="checkbox" class="k-checkbox" id="item.obj{{31103674}}"
                            ng-model="item.obj[31103674]">
                        <label class="k-checkbox-label" for="item.obj{{31103674}}">
                            &nbsp;Islam</label>
                    </div>
                    <div class="grid_4">
                        <input type="checkbox" class="k-checkbox" id="item.obj{{31103675}}"
                            ng-model="item.obj[31103675]">
                        <label class="k-checkbox-label" for="item.obj{{31103675}}">
                            &nbsp; Kristen Katolik</label>
                    </div>
                    <div class="grid_4">
                        <input type="checkbox" class="k-checkbox" id="item.obj{{31103676}}"
                            ng-model="item.obj[31103676]">
                        <label class="k-checkbox-label" for="item.obj{{31103676}}">
                            &nbsp;Kristen Protestan</label>
                    </div>
                    <div class="grid_4">
                        <input type="checkbox" class="k-checkbox" id="item.obj{{31103677}}"
                            ng-model="item.obj[31103677]">
                        <label class="k-checkbox-label" for="item.obj{{31103677}}">
                            &nbsp;Budha</label>
                    </div>
                    <div class="grid_4">
                        <input type="checkbox" class="k-checkbox" id="item.obj{{31103678}}"
                            ng-model="item.obj[31103678]">
                        <label class="k-checkbox-label" for="item.obj{{31103678}}">
                            &nbsp;Khonghucu</label>
                    </div>
                    <div class="grid_4">
                        <input type="checkbox" class="k-checkbox" id="item.obj{{31103679}}"
                            ng-model="item.obj[31103679]">
                        <label class="k-checkbox-label" for="item.obj{{31103679}}">
                            &nbsp;Hindu</label>
                    </div>
                </div>
            </div>

            <div class="grid_12" style="margin-top: 30px;">
                <label item="item">
                    Untuk Saya/Suami/Istri/Ayah/Ibu/Anak/Keluarga* :
                </label>
            </div>
            <div class="grid_12" ng-repeat="list in listNama | orderBy:'id'" style="margin-top: 10px;">
                <div ng-repeat="jawab in list.detail | orderBy:'id'">
                    <div ng-switch on="jawab.type">
                        <div class="grid_12" ng-switch-when="label" style="margin-top: 10px;">
                            <label c-label item="item">{{ jawab.caption }}</label>
                        </div>
                        <div class="grid_12" ng-switch-when="textbox">
                            <div class="grid_4">
                                <label c-label item="item">{{jawab.caption}}</label>
                            </div>
                            <div class="grid_6">
                                <input class="k-textbox" ng-model="item.obj[jawab.id]" type="text"
                                   ng-value="{{jawab.value}}">
                            </div>
                        </div>
                        <div class="grid_12" ng-switch-when="textarea">
                            <div class="grid_4">
                                <label c-label item="item">{{jawab.caption}}</label>
                            </div>
                            <div class="grid_6">
                                <textarea cols="6" rows="6" c-text-area type="input" filter="'string'" class="k-textbox"
                                    ng-model="item.obj[jawab.id]" />
                            </div>
                        </div>
                        <div class="grid_12" ng-switch-when="combobox">
                            <div class="grid_4">
                                <label c-label item="item">{{jawab.caption}}</label>
                            </div>
                            <div class="grid_6">
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                    k-auto-bind="false" k-data-source="{{jawab.dataList}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_12" style="margin-top: 30px;">
                <label item="item">
                    Demikian permintaan pelayanan rohani ini saya buat, untuk dapat dipergunakan sebagaimana mestinya.
                </label>
            </div>
            <div class="grid_12" style="margin-top: 50px;">
                <div class="grid_7"></div>
                <div class="grid_5">
                    <div class="grid_12">
                        <label c-label item="item">Tanda Tangan Permintaan</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[31103684]" placeholder="Nama" />
                    </div>
                </div>
            </div>

            <hr>

            <div class="grid_12" style="margin-top: 10px;">
                <div class="grid_4" style="margin-top: 10px;">
                    <label c-label item="item">Nama Petugas Kerohanian :</label>
                </div>
                <div class="grid_4">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31103685]" k-data-text-field="'text'"
                        k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                </div>                   
            </div>
            <div class="grid_12">
                <div class="grid_2"  style="margin-top: 10px;">
                    <label c-label item="item">Jam Kedatangan :</label>
                </div>
                <div class="grid_4">
                    <input style="width: 100%" k-ng-model="item.obj[31103686]" kendo-timepicker
                        placeholer="HH:MM" k-format="'HH:mm'" />
                </div>
                <div class="grid_2"  style="margin-top: 10px;">
                    <label c-label item="item">No. HP :</label>
                </div>
                <div class="grid_4">
                    <input class="k-textbox" ng-model="item.obj[31103687]" type="text">
                </div>
            </div>
            <div class="grid_12" style="text-align:center;margin: 30px;">
                <label c-label item="item">PELAYANAN ROHANI</label>
            </div>
            <div>
                <table>
                    <tr>
                        <th style="text-align: center;width: 20px;">No</th>
                        <th style="text-align: center;">Masalah</th>
                        <th style="text-align: center;">Bimbingan Rohani</th>
                        <th style="text-align: center;">Keterangan</th>
                    </tr>
                    <tr ng-repeat="list in listKerohanian | orderBy:'id'">
                        <td>{{ list.id }}</td>
                        <td ng-repeat="jawab in list.detail | orderBy:'id'">
                            <div ng-switch on="jawab.type">
                                <div class="grid_12" ng-switch-when="label">
                                    <label item="item">{{ jawab.caption }}</label>
                                </div>
                                <div class="grid_12" ng-switch-when="textarea">
                                    <label item="item">{{ jawab.caption }}</label>
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[jawab.id]" cols="6" rows="4"></textarea>
                                </div>
                                <div class="grid_12" ng-switch-when="checkbox" style="text-align: center;">
                                    <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}" ng-model="item.obj[jawab.id]">
                                    <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                        &nbsp;{{ jawab.nama }}</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="grid_12" style="margin-top: 50px;">
                <div class="grid_7"></div>
                <div class="grid_5">
                    <div class="grid_12">
                        <label c-label item="item">Bulukumba</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%" k-ng-model="item.obj[31103703]" kendo-datetimepicker
                            placeholer="YYYY:MM:DD HH:MM" k-format="'yyyy-MM-dd HH:mm'" />
                    </div>
                    
                </div>
            </div>
            <div class="grid_12" style="margin-top: 20px;">
                <div class="grid_5">
                    <div class="grid_12">
                        <label c-label item="item">Tanda Tangan Penerima Pelayanan Rohani</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[31103704]" placeholder="Nama" />
                    </div>
                </div>
                <div class="grid_2"></div>
                <div class="grid_5">
                    <div class="grid_12">
                        <label c-label item="item">Tanda Tangan Petugas Rohaniawan</label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[31103705]" k-data-text-field="'text'"
                        k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai"/>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<br />
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>