<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;
No. RM

    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }
    td {
        padding: 5px;
        text-align: left;
    }
    th {
        padding: 5px;
        text-align: center;
    }
    .clicks{
        cursor: pointer;
    }
</style>

 <!-- ng-class="{'my-disable':true}" -->
<!-- <div class="grid_12"  disable-contents="allDisabled" id="form"> -->
<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Surat Keterangan Kontrol</div>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">No. Kartu</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116169]" />
                    </div>
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">No. RM</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116170]" />
                    </div>
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Diagnosa</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116171]" />
                    </div>
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Nama Pasien</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116172]" />
                    </div>
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Terapi</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116173]" />
                    </div>
                </div>
                <div class="grid_6" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">No. HP Pasien</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116174]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Tgl Surat Rujuan</label>
                    </div>
                    <div class="grid_6">
                        <input style="width: 90%" k-ng-model="item.obj[32116175]" kendo-datepicker placeholer="YYYY:MM:DD"
                                k-format="'yyyy-MM-dd'" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Belum dapat dikembalikan ke Fasilitas Penunjuk dengan alasan * :</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116176]" />
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116177]" />
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116178]" />
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116179]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Rencana tindak lanjut yang akan dilakukan pada kunjungan selanjutnya * :</label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116180]" />
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116181]" />
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116182]" />
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116183]" />
                    </div>
                </div>

                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Surat keterangan ini digunakan untuk 1 (satu) kali kunjungan dengan diagnosa diatas, pada tanggal :</label>
                    </div>
                    <div class="grid_6">
                        <input style="width: 90%" k-ng-model="item.obj[32116184]" kendo-datepicker placeholer="YYYY:MM:DD"
                                k-format="'yyyy-MM-dd'" />
                    </div>
                </div>
                
                <div class="grid_12" style="margin-top: 20px;">
                    <div class="grid_12">
                        <div class="grid_12">
                            <label item="item">Bulukumba</label>
                        </div>
                        <div class="grid_6">
                            <input style="width: 90%" k-ng-model="item.obj[32116185]" kendo-datetimepicker placeholer="YYYY:MM:DD HH:mm"
                                    k-format="'yyyy-MM-dd HH:mm'" />
                        </div>
                    </div>
                    <div class="grid_6" style="margin-top: 10px;">
                        <div class="grid_12">
                            <label item="item">Dokter DPJP</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[32116186]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDokter" />
                        </div>
                    </div>
                </div>

                <hr>
                <div class="grid_12" style="margin-top: 10px;">
                    <div c-label class="grid_12">
                        <label item="item">Catatan</label>
                    </div>
                    <div class="grid_12">
                        <label item="item">1. <b>WAJIB</b> diisi dan dilengkap sebagai dasar penjaminan klaim BPJS Kesehatan</label>
                    </div>
                    <div class="grid_12">
                        <label item="item">2. Lembar kedua <b>WAJIB</b> diserahkan ke tempat pendaftaran pasien rawat jalan untuk didaftarkan pada kunjungan berikutnya</label>
                    </div>
                </div>

            </fieldset>
        </div>

    </div>
</div>

<br />
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>