<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;


    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }
    td {
        padding: 5px;
        text-align: left;
    }
    th {
        padding: 5px;
        text-align: center;
    }
    .clicks{
        cursor: pointer;
    }
</style>

 <!-- ng-class="{'my-disable':true}" -->
<!-- <div class="grid_12"  disable-contents="allDisabled" id="form"> -->
<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Pernyataan Tidak Dilakukan Skrining Hipotiroid Kongenital</div>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" style="margin-top: 10px;">
                    <label c-label item="item">Saya yang bertanda tangan di bawah ini :</label>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Nama</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116759]" />
                    </div>
                </div>
                
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">NIP</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116760]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Pangkat/ Golongan</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116761]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Jabatan</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116762]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Menyatakan bahwa</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116763]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Nama Bayi</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116764]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Jenis Kelamin</label>
                    </div>
                    <div class="grid_6">
                        <md-radio-group ng-model="item.obj[32116765]">
                            <md-radio-button value="LAKI-LAKI" class="md-primary">LAKI-LAKI
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="grid_6">
                        <md-radio-group ng-model="item.obj[32116765]">
                            <md-radio-button value="PEREMPUAN" class="md-primary">PEREMPUAN
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div> 
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Tanggal Lahir</label>
                    </div>
                    <div class="grid_6">
                        <input style="width: 90%" k-ng-model="item.obj[32116766]" kendo-datepicker placeholer="YYYY:MM:DD"
                                k-format="'yyyy-MM-dd'" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">No. Rekam Medik</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116767]" />
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <div class="grid_12">
                        <label c-label item="item">Nama Ibu</label>
                    </div>
                    <div class="grid_6">
                        <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116768]" />
                    </div>
                </div>
                <hr>
                <div class="grid_12" style="margin-top: 10px;">
                    <label item="item">Tidak dapat dilakukan Skrining Hipotiroid Kongenital dengan alasan (lingkari/ pilih salah satu atau lebih kondisi yang sesuai) :</label>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <label item="item">1)	Bayi tidak dimungkinkan untuk diambil sampel SHK dibuktikan dengan surat keterangan tenaga kesehatan yang merawat.</label>
                </div>
                <div class="grid_12" style="margin-top: 10px;">
                    <label item="item">2)	Daerah dengan akses sulit (interval waktu  antara  pengambilan  sampel hingga sampai di laboratorium rujukan lebih  dari  14  hari),  bencana,  dan atau dengan sumber daya terbatas (tidak memiliki dokter atau bidan atau perawat atau Ahli Teknologi Laboratorium Medik (ATLM))</label>
                </div>
                <div class="grid_12" style="margin-top: 20px;">
                    <div class="grid_6"></div>
                    <div class="grid_6"  style="margin-top: 20px;">
                        <div class="grid_12">
                            <label c-label item="item">Bulukumba</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 90%" k-ng-model="item.obj[32116769]" kendo-datetimepicker placeholer="YYYY:MM:DD HH:mm"
                                k-format="'yyyy-MM-dd HH:mm'" />
                        </div>
                    </div>
                </div>
                <div class="grid_12" style="margin-top: 20px;">
                    <div class="grid_6">
                        <div class="grid_12">
                            <label item="item">Mengetahui</label>
                        </div>
                        <div class="grid_12">
                            <label item="item">Petugas Fasyankes</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[32116770]" k-data-text-field="'text'"
                            k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                        </div>
                    </div>
                    <div class="grid_6"  style="margin-top: 20px;">
                        <div class="grid_12">
                            <label item="item">Orang Tua/Wali</label>
                        </div>
                        <div class="grid_12">
                            <input c-text-box type="text" filter="" class="k-textbox" ng-model="item.obj[32116771]" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>

<br />
<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>