<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;
 

    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>

<div class="grid_12"  disable-contents="allDisabled" >
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Transfer Antar Unit</div>
        </div>
        
        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" ng-repeat="list in listRuanganTransfer | orderBy:'id'" style="margin-top: 10px;">
                    <div ng-repeat="jawab in list.detail | orderBy:'id'" style="margin-top: 10px;">
                        <div ng-switch on="jawab.type">
                            <div class="grid_12" ng-switch-when="label" style="margin-top: 10px;">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                            </div>
                            <div class="grid_8" ng-switch-when="datetime">
                                <div class="grid_12">
                                    <label c-label item="item">{{jawab.caption}}</label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 80%" k-ng-model="item.obj[jawab.id]" kendo-datetimepicker
                                        placeholer="YYYY:MM:DD HH:MM" k-format="'yyyy-MM-dd HH:mm'" />
                                </div>
                            </div>
                            <div class="grid_8" ng-switch-when="combobox">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id]" k-data-text-field="'text'"
                                        k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="{{ jawab.dataList }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12" ng-repeat="list in listRiwayatPenyakit | orderBy:'id'" style="margin-top: 10px;">
                    <div ng-repeat="jawab in list.detail | orderBy:'id'" style="margin-top: 10px;">
                        <div ng-switch on="jawab.type">
                            <div class="grid_12" ng-switch-when="label" style="margin-top: 10px;">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                            </div>
                            <div class="grid_8" ng-switch-when="datetime">
                                <div class="grid_12">
                                    <label c-label item="item">{{jawab.caption}}</label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 80%" k-ng-model="item.obj[jawab.id]" kendo-datetimepicker
                                        placeholer="YYYY:MM:DD HH:MM" k-format="'yyyy-MM-dd HH:mm'" />
                                </div>
                            </div>
                            <div class="grid_8" ng-switch-when="combobox">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id]"
                                        k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                        k-auto-bind="false" k-data-source="{{ jawab.dataList }}" />
                                </div>
                            </div>
                            <div class="grid_8" ng-switch-when="textbox">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                                <div class="grid_12">
                                    <input class="k-textbox" ng-model="item.obj[jawab.id]" type="text" placeholder="{{jawab.caption}}" g-value="{{jawab.value}}">
                                </div>
                            </div>
                            <div class="grid_8" ng-switch-when="textarea">
                                <div class="grid_12">
                                    <label c-label item="item">{{ jawab.caption }}</label>
                                </div>
                                <div class="grid_12">
                                    <textarea cols="6" rows="3" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[jawab.id]"></textarea>
                                </div>
                            </div>
                            <div class="grid_8" ng-switch-when="checkbox">
                                <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}" ng-model="item.obj[jawab.id]">
                                <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                    &nbsp;{{ jawab.nama }}</label>
                            </div>
                            <div class="grid_12" ng-switch-when="hr">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid_12" style="margin-top: 15px;">
                    <div class="grid_12" style="margin-top: 10px;">
                        <table>
                            <tr>
                                <th style="width: 300px;text-align: center;">Petugas Pendamping</th>
                                <th style="text-align: center;">Kualifikasi</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="grid_6">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430038}}" ng-model="item.obj[430038]">
                                        <label class="k-checkbox-label" for="item.obj{{430038}}">
                                            &nbsp;Perawat</label>
                                    </div>
                                    <div class="grid_6">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430039}}" ng-model="item.obj[430039]">
                                        <label class="k-checkbox-label" for="item.obj{{430039}}">
                                            &nbsp;Bidan</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_2">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430040}}" ng-model="item.obj[430040]">
                                        <label class="k-checkbox-label" for="item.obj{{430040}}">
                                            &nbsp;EN</label>
                                    </div>
                                    <div class="grid_2">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430041}}" ng-model="item.obj[430041]">
                                        <label class="k-checkbox-label" for="item.obj{{430041}}">
                                            &nbsp;BT-CLS</label>
                                    </div>
                                    <div class="grid_2">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430042}}" ng-model="item.obj[430042]">
                                        <label class="k-checkbox-label" for="item.obj{{430042}}">
                                            &nbsp;PPGD</label>
                                    </div>
                                    <div class="grid_2">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430043}}" ng-model="item.obj[430043]">
                                        <label class="k-checkbox-label" for="item.obj{{430043}}">
                                            &nbsp;APN</label>
                                    </div>
                                    <div class="grid_2">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430044}}" ng-model="item.obj[430044]">
                                        <label class="k-checkbox-label" for="item.obj{{430044}}">
                                            &nbsp;BLS</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="grid_12" style="margin-top: 10px;">
                        <div class="grid_12">
                            <label c-label item="item">Transprotasi yang digunakan</label>
                        </div>
                        <div class="grid_2">
                            <input type="checkbox" class="k-checkbox" id="item.obj{{430045}}" ng-model="item.obj[430045]">
                            <label class="k-checkbox-label" for="item.obj{{430045}}">
                                &nbsp;Kursi roda</label>
                        </div>
                        <div class="grid_2">
                            <input type="checkbox" class="k-checkbox" id="item.obj{{430046}}" ng-model="item.obj[430046]">
                            <label class="k-checkbox-label" for="item.obj{{430046}}">
                                &nbsp;Brankart</label>
                        </div>
                    </div>
                </div>

                <div class="grid_12" style="margin-top: 15px;">
                    <div class="grid_12" style="margin-top: 10px;">
                        <table>
                            <tr>
                                <th style="text-align: center;" colspan="5">Yang Turut Diserahkan</th>
                            </tr>
                            <tr>
                                <th style="text-align: center;">Dokumen</th>
                                <th style="text-align: center;">Obat</th>
                                <th style="text-align: center;">Hasil Pemeriksaan Penunjang</th>
                                <th style="text-align: center;">Barang Pasien</th>
                                <th style="text-align: center;width: 250px;">Lain-lain</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="grid_12">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430047}}" ng-model="item.obj[430047]">
                                        <label class="k-checkbox-label" for="item.obj{{430047}}">
                                            &nbsp;RM Pasien</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430048}}" ng-model="item.obj[430048]">
                                        <label class="k-checkbox-label" for="item.obj{{430048}}">
                                            &nbsp;Obat yang diminum</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430049}}" ng-model="item.obj[430049]">
                                        <label class="k-checkbox-label" for="item.obj{{430049}}">
                                            &nbsp;Obat injeksi</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430050}}" ng-model="item.obj[430050]">
                                        <label class="k-checkbox-label" for="item.obj{{430050}}">
                                            &nbsp;Obat pasien yang dibawa</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430051}}" ng-model="item.obj[430051]">
                                        <label class="k-checkbox-label" for="item.obj{{430051}}">
                                            &nbsp;Hasil laboratorium</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430052}}" ng-model="item.obj[430052]">
                                        <label class="k-checkbox-label" for="item.obj{{430052}}">
                                            &nbsp;Hasil EKG</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430053}}" ng-model="item.obj[430053]">
                                        <label class="k-checkbox-label" for="item.obj{{430053}}">
                                            &nbsp;Hasil USG</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430054}}" ng-model="item.obj[430054]">
                                        <label class="k-checkbox-label" for="item.obj{{430054}}">
                                            &nbsp;Hasil rontgen</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430055}}" ng-model="item.obj[430055]">
                                        <label class="k-checkbox-label" for="item.obj{{430055}}">
                                            &nbsp;CT Scan</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430056}}" ng-model="item.obj[430056]">
                                        <label class="k-checkbox-label" for="item.obj{{430056}}">
                                            &nbsp;Dompet</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430057}}" ng-model="item.obj[430057]">
                                        <label class="k-checkbox-label" for="item.obj{{430057}}">
                                            &nbsp;HP</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430058}}" ng-model="item.obj[430058]">
                                        <label class="k-checkbox-label" for="item.obj{{430058}}">
                                            &nbsp;Barang lainnya :</label>
                                    </div>
                                    <div class="grid_12" style="margin-top: 10px;">
                                        <input class="k-textbox" ng-model="item.obj[430059]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <textarea cols="6" rows="3" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[430060]"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="grid_12" style="margin-top: 15px;">
                    <div class="grid_12" style="margin-top: 10px;">
                        <table>
                            <tr>
                                <th style="text-align: center;" colspan="8">Ringkasan Kondisi Pasien</th>
                            </tr>
                            <tr>
                                <th style="text-align: center;">Status Pasien</th>
                                <th style="text-align: center;">KU</th>
                                <th style="text-align: center;">TD (mmHg)</th>
                                <th style="text-align: center;">Nadi x/mnt</th>
                                <th style="text-align: center;">RR x/mnt</th>
                                <th style="text-align: center;">Suhu C</th>
                                <th style="text-align: center;">Sp02%</th>
                                <th style="text-align: center;width: 300px;">Catatan</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <label c-label item="item">Sebelum Transfer</label>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430061]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430062]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430063]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430064]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430065]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430066]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <textarea cols="6" rows="3" c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[430067]"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <label c-label item="item">Kondisi Saat Transfer</label>
                                </td>
                                <td colspan="7">
                                    <div class="grid_2">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430068}}" ng-model="item.obj[430068]">
                                        <label class="k-checkbox-label" for="item.obj{{430068}}">
                                            &nbsp;Stabil</label>
                                    </div>
                                    <div class="grid_2">
                                        <input type="checkbox" class="k-checkbox" id="item.obj{{430069}}" ng-model="item.obj[430069]">
                                        <label class="k-checkbox-label" for="item.obj{{430069}}">
                                            &nbsp;Tidak Stabil</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <label c-label item="item">Sesudah Transfer</label>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430070]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430071]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430072]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430073]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430074]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <input class="k-textbox" ng-model="item.obj[430075]" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="grid_12">
                                        <textarea cols="6" rows="3" c-text-area type="input" filter="'string'" class="k-textbox"
                                            ng-model="item.obj[430076]"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="grid_12" style="margin-top: 10px;">
            <fieldset style="margin-top: 10px;">
                <div class="grid_12">
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">Tanggal/Jam</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 100%" k-ng-model="item.obj[430077]" kendo-datetimepicker placeholer="YYYY:MM:DD HH:MM"
                                k-format="'yyyy-MM-dd HH:mm'" />
                        </div>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">Ruang</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[430078]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listRuangan" />
                        </div>
                    </div>
                    <div class="grid_1"></div>
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">Yang Menyerahkan</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[430079]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                        </div>
                    </div>
                    <div class="grid_1"></div>
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">Yang Menerima</label>
                        </div>
                        <div class="grid_12">
                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[430080]" k-data-text-field="'text'"
                                k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>
<br>
<br>
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>