<style>
    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid .k-grid-header .k-header {
        text-align: center;
    }

    .style-center {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .style-right {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .style-left {
        display: inline-block;
        text-align: left;
        width: 100%;
    }

    .photo-pasiens {
        /* display: inline-block; */
        width: 400px;
        height: auto;
        border-radius: 50%;
        /* background-size: 32px 35px; */
        /* background-position: center center; */
        vertical-align: middle;
    }

    .effect-shadow {
        -webkit-box-shadow: 2px 2px 5px #b6b6b6;
        -moz-box-shadow: 2px 2px 5px #b6b6b6;
        box-shadow: 2px 2px 5px #b6b6b6;
    }

    .md-dialog-container,
    md-dialog {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        z-index: 200000;
    }

    fieldset {
        border: 1px solid #c8c8c8;
        background-color: #ffffff;
        color: #333333;
    }

    img.photo-pasien {
        width: 300px;
        height: 100%;
        object-fit: contain;
    }

    .label-primary {
        background-color: #337ab7;
    }

    .label-danger {
        background-color: #ba0d1b
    }

    .text-center {
        text-align: center;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
    a.k-button.k-button-icontext {
        min-width: 84px;
        background-color: #e0360b;
        border: none;
        margin: .1em;
    }
</style>
<c-panel item="item" header="'Pendaftaran Pasien Lama'" disabled>
    <div class="panel-place" style="top: -1px;"><i style="cursor:pointer;" ng-click='pasienBaru()'
            class="fa  fa-user-plus fa-2x"></i></div>
</c-panel>

<div class="grid_11">

    <div class="grid_1" style="margin-top:5px">
        <label c-label real>No RM </label>
        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.noRM"
            ng-keypress="($event.which == 13)? SearchEnter():item.noRM" />
    </div>
    <div class="grid_2" style="margin-top:5px">
        <label c-label real>NIK </label>
        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.nik"
            ng-keypress="($event.which == 13)? SearchEnter():item.ng-dblclick" />
    </div>
    <div class="grid_1" style="margin-top:5px">
        <label c-label real>No BPJS </label>
        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.noBPJS"
            ng-keypress="($event.which == 13)? SearchEnter():item.noBPJS" />
    </div>
    <div class="grid_2" style="margin-top:5px">
        <label c-label real>Nama Pasien</label>
        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.namaPasien"
            ng-keypress="($event.which == 13)? SearchEnter():item.namaPasien" />
    </div>
    <div class="grid_2" style="margin-top:5px">
        <label c-label real>Tanggal Lahir</label>
        <input style="width: 100%" kendo-date-picker placeholer="dd-mm-yyyy" k-ng-model="item.tglLahir"
            k-format="'dd-MM-yyyy'" ng-keypress="($event.which == 13)? SearchEnter():item.tglLahir" />
    </div>

    <div class="grid_2" style="margin-top:5px">
        <label c-label c-label-text="Nama ayah kandung" real></label>
        <input style="width: 100%" c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.namaAyah"
            ng-keypress="($event.which == 13)? SearchEnter():item.namaAyah" />
    </div>
    <div class="grid_2" style="margin-top:5px">
        <label c-label c-label-text="Alamat" real></label>
        <input style="width: 100%" c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.alamat"
            ng-keypress="($event.which == 13)? SearchEnter():item.alamat" />
    </div>
    <!--    <div class="grid_1" style="margin-top:5px">
                            <label c-label c-label-text="Alamat" real></label>
                            <input style="width: 100%;"  c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.alamat" ng-keypress="($event.which == 13)? SearchEnter():item.alamat"   />
                        </div> -->
    <!--    <div class="grid_2" style="margin-top:5px">
                            <label c-label c-label-text="Nama ayah kandung" real></label>
                            <input style="width: 100%"  c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.namaAyah" />
                        </div> -->
</div>
<div class="grid_1" style="margin-top:10px">
    <div class="grid_12">
        <label c-label c-label-text=""></label>
        <em style="margin-top:6px;" ng-click='SearchData()' id="iconButton" data-role="button"
            class="k-button k-button-icon" role="button" aria-disabled="false" tabindex="0"><span
                class="k-sprite k-icon k-i-search">Cari</span></em>
    </div>
</div>
<div class="grid_12">
    <div class="clear"></div>
    <div class="grid_12 borderBox">
        <!-- <kendo-grid id="kGrid" data-source="dataDaftarPasienPulang" options="columnDaftarPasienPulang"
				k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" k-selectable="'row'"
				k-ng-model="dataPasienSelected" ng-click="klikGrid(dataPasienSelected)"></kendo-grid> -->
        <div id="kGrid" kendo-grid data-source="dataSourceGrid" k-selectable="'row'" options="columnGrid"
            k-sortable="true" k-reorderable="true" k-pageable="'true'" k-groupable="true" k-resizable="true"
            k-scrollable="'true'" k-ng-model="dataPasienSelected" ng-click="klikGrid(dataPasienSelected)"
            ng-dblclick="klikdua(dataPasienSelected)">
        </div>
    </div>
    <div class="grid_12">
        <div class="grid_11">
        </div>
        <div class="grid_1" style="margin-top:5px">
            <label c-label c-label-text="Row" real></label>
            <input style="width: 100%" c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.Rows"
                ng-keypress="($event.which == 13)? SearchEnter():item.Rows" />
        </div>
    </div>
    <div class="grid_1" style="float:right;">
        <button kendo-button style="width: 100%" class="primary" ng-click="riwayatSatusehat()"><i class="fa fa-history"></i> SATUSEHAT</button>
    </div>
    <div class="grid_1" style="float:right;">
        <md-menu>
            <button class="btnTemplate1" ng-click="$mdMenu.open()" style="margin: 0;">
                <i class="fa fa-history"></i> NFC
            </button>
            <md-menu-content>
                <md-menu-item>
                    <md-button class="md-button md-ink-ripple" ng-click="saveDataNFC()">
                        <i class="fa fa-edit"></i> Update NFC
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="md-button md-ink-ripple" ng-click="getDataNFC()">
                        <i class="fa fa-book"></i> Read NFC
                    </md-button>
                </md-menu-item>
                
            </md-menu-content>
        </md-menu>
    </div>
    <div class="grid_2" style="float:right;">
        <button kendo-button style="width: 100%" class="primary" ng-click="RiwayatRegistrasi()"><i
                class="fa fa-history"></i>Riwayat Registrasi</button>

        <!-- <c-button ng-show="!isLoading" style="width: 100%; font-size: 24px; padding:0px, margin:0px;" item="item"
            size="24" position=" 'right'" ng-click="RiwayatRegistrasi()" class="primary">
            <span class="title">Riwayat Registrasi</span>
        </c-button> -->

    </div>
    <div class="grid_2" style="float:right;">
        <button kendo-button style="width: 100%" class="primary" ng-click="RegistrasiPasien()"><i
                class="fa fa-arrow-circle-right"></i> Registrasi</button>
        <!--   <c-button ng-show="!isLoading" style="width: 100%; font-size: 24px; padding:0px, margin:0px;" item="item"
            size="24" position=" 'right'" ng-click="RegistrasiPasien()" class="primary">
            <span class="title">Registrasi</span>
        </c-button> -->
    </div>
    <div class="grid_2" style="float:right;">
        <button kendo-button style="width: 100%" class="primary" ng-click="EditPasien()"><i class="fa fa-edit"></i> Edit
            Pasien</button>
        <!-- <c-button ng-show="!isLoading" style="width: 100%; font-size: 24px; padding:0px, margin:0px;" item="item"
            size="24" position=" 'right'" ng-click="EditPasien()" class="primary">
            <span class="title">Edit Pasien</span>
        </c-button> -->
    </div>
    <div class="grid_2" style="float:right;">
        <button kendo-button style="width: 100%" class="cancel" ng-click="HapusPasien()"><i class="fa fa-trash"></i>
            Hapus Data</button>
        <!-- <c-button ng-show="!isLoading" class="error" style="width: 100%; font-size: 24px; padding:0px, margin:0px;"
            item="item" size="24" position=" 'right'" ng-click="HapusPasien()" class="primary">
            <span class="title">Hapus Data</span>
        </c-button> -->
    </div>
    <div class="grid_2" style="float:right;">
        <button kendo-button style="width: 100%" class="primary" ng-click="gabungkanNoRM()"><i class="fa fa-copy"></i>
            Gabungkan</button>
       <!-- <c-button ng-show="!isLoading" class="error" style="width: 100%; font-size: 24px; padding:0px, margin:0px;"
                item="item" size="24" position=" 'right'" ng-click="HapusPasien()" class="primary">
                <span class="title">Hapus Data</span>
            </c-button>  -->
    </div>
    <div class="grid_1" style="float:right;">
        <button kendo-button style="width: 100%" class="primary" ng-click="kyc()"><i class="fa fa-check"></i>
            KYC SATUSEHAT</button>
    </div>
    <!-- </c-panel>         -->
    <div class="grid_12">
        <div kendo-window="popUpRiwayatRegistrasi" k-title="'Data Riwayat Registrasi'" k-width="1300" k-visible="false"
            k-on-open="win2visible = true" k-on-close="win2visible = false">
            <div class="panel panel-default container_12" style="padding: 0px 10px;">
                <div class="grid_11">
                    <div class="grid_2" style="margin-top:5px">
                        <label c-label real>No RM </label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="itemD.noRM"
                            ng-keypress="($event.which == 13)? SearchEnterDetail():itemD.noRM" disabled />
                    </div>
                    <div class="grid_3" style="margin-top:5px">
                        <label c-label real>Nama Pasien </label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="itemD.namaPasien"
                            ng-keypress="($event.which == 13)? SearchEnterDetail():itemD.namaPasien" disabled />
                    </div>
                    <div class="grid_2" style="margin-top:5px">
                        <label c-label real>Tgl Lahir </label>
                        <input style="width: 100%" kendo-date-picker placeholer="dd-mm-yyyy" k-ng-model="itemD.tglLahir"
                            k-format="'dd-MM-yyyy'"
                            ng-keypress="($event.which == 13)? SearchEnterDetail():itemD.tglLahir" disabled />
                    </div>
                    <div class="grid_2" style="margin-top:5px">
                        <label c-label real>No Registrasi </label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="itemD.noRegistrasi"
                            ng-keypress="($event.which == 13)? SearchEnterDetail():itemD.noRegistrasi" />
                    </div>
                    <div class="grid_3" style="margin-top:5px">
                        <label c-label real>Jumlah Rawat Inap</label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="itemD.JumlahRawat"
                            disabled />
                    </div>
                </div>
                <div class="grid_1" style="margin-top:10px">
                    <label c-label c-label-text=""></label>
                    <em style="margin-top:6px;" ng-click='SearchEnterDetail()' id="iconButton" data-role="button"
                        class="k-button k-button-icon" role="button" aria-disabled="false" tabindex="0"><span
                            class="k-sprite k-icon k-i-search">Cari</span></em>
                </div>
                <div class="grid_12">
                    <div class="grid_12 headerBox">
                        <p>Riwayat Registrasi</p>
                    </div>
                    <div class="clear"></div>
                    <!-- grid table -->
                    <div class="grid_12 borderBox">
                        <!-- <kendo-grid id="kGrid" data-source="dataRiwayatRegistrasi" options="columnRiwayatRegistrasi"
                            k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" k-selectable="'row'"
                            k-ng-model="dataPasienSelectedR" ng-click="klikGridR(dataPasienSelectedR)">
                        </kendo-grid> -->
                        <kendo-grid id="kGriddataRiwayatRegistrasi" k-data-source="dataRiwayatRegistrasi" options="columnRiwayatRegistrasi"
                        k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" k-selectable="'row'" k-groupable="'true'"
                        k-ng-model="dataPasienSelectedR" ng-click="klikGridR(dataPasienSelectedR)"
                        ng-dblclick="ihsTools(dataPasienSelectedR)"
                        >
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="grid_12">
                    <div class="k-edit-buttons  k-state-default pull-right" style="margin-top:10px">
                        <button class="k-button  k-button-icontext" ng-click="DetailRegistrasi()"><span
                            class="k-icon k-i-information"></span>Detail Registrasi</button>
                        <button class="k-button  k-button-icontext" ng-click="TutupPopUp()"><span
                                class="k-icon k-cancel"></span>Tutup</button>
                    </div>
                </div>
                <div class="grid_12" style="margin-top:60px">
                    <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_12" style="margin-top:60px">
        <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
    </div>
    <div kendo-window="popUpPhoto" k-title="'Photo '" k-width="370" k-visible="false" k-on-open="win2visible = true"
        k-on-close="win2visible = false">
        <div class="panel panel-default container_12" style="padding: 0px 10px;">
            <div class="grid_12">
                <fieldset class="effect-shadow" style="border-radius: 4px;margin-top:5px">
                    <!-- <a href="../app/image/logo.png" download></a> -->
                    <div id="crop-avatar" style="padding: 10px">
                        <img id="embedImage" class="photo-pasien" src="{{item.image}}" alt="Avatar" title="avatar">
                    </div>
                    <!--
                    <button ng-click="saveImage()">save image</button> -->
                </fieldset>
            </div>
            <div class="grid_12">
                <div class="k-edit-buttons  k-state-default pull-right" style="margin-top:10px">
                    <button class="k-button  k-button-icontext" ng-click="tutupPhoto()"><i
                            class="fa fa-times-circle"></i>&nbsp;Tutup</button>
                </div>
            </div>

        </div>
    </div>
    <div kendo-window="popUpGabungkan" k-title="'Penggabungan Duplikasi No RM '" k-width="800" k-visible="false"
        k-on-open="win2visible = true" k-on-close="win2visible = false">
        <div class="panel panel-default container_12">
            <div class="grid_12">
                <fieldset class="effect-shadow" style="border-radius: 4px;margin-top:5px">
                    <div class="grid_2">
                        <div class="grid_12">
                            <label c-label item="item ">No RM</label>
                        </div>
                        <div class="grid_12">
                            <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.rmAsal"
                                disabled="" />
                        </div>
                    </div>
                    <div class="grid_8">
                        <div class="grid_12">
                            <label c-label item="item ">Nama Pasien</label>
                        </div>
                        <div class="grid_12">
                            <input c-text-box type="input" filter="'char'" class="k-textbox"
                                ng-model="item.namaPasienAsal" disabled="" />
                        </div>
                    </div>

                    <div class="grid_2">
                        <div class="grid_12">
                            <label c-label item="item ">Gabung Ke</label>
                        </div>
                        <div class="grid_12">
                            <input c-text-box type="input" filter="'char'" class="k-textbox"
                                ng-model="item.rmTujukan" />
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="grid_12">
                <div class="k-edit-buttons  k-state-default pull-right" style="margin-top:10px">
                    <button class="k-button  k-button-icontext" ng-click="saveGabungkan()"><i
                            class="fa fa-times-circle"></i>&nbsp;Simpan</button>
                </div>
            </div>
        </div>
    </div>
    <div kendo-window="popUpDetailRegistrasi" k-title="'Data Detail Registrasi'" k-width="1000" k-visible="false"
        k-on-open="win2visible = true" k-on-close="win2visible = false">
        <div class="panel panel-default container_12" style="padding: 0px 10px;">
            <div class="grid_11">
                <div class="grid_2" style="margin-top:5px">
                    <label c-label real>No RM </label>
                    <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="itemDd.noRM"
                        ng-keypress="($event.which == 13)? SearchEnterDetails():itemDd.noRM" disabled />
                </div>
                <div class="grid_4" style="margin-top:5px">
                    <label c-label real>Nama Pasien </label>
                    <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="itemDd.namaPasien"
                        ng-keypress="($event.which == 13)? SearchEnterDetails():itemDd.namaPasien" disabled />
                </div>
                <div class="grid_3" style="margin-top:5px">
                    <label c-label real>Tgl Lahir </label>
                    <input style="width: 100%" kendo-date-picker placeholer="dd-mm-yyyy" k-ng-model="itemDd.tglLahir"
                        k-format="'dd-MM-yyyy'" ng-keypress="($event.which == 13)? SearchEnterDetails():itemDd.tglLahir"
                        disabled />
                </div>
                <div class="grid_3" style="margin-top:5px">
                    <label c-label real>No Registrasi </label>
                    <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="itemDd.noRegistrasi"
                        ng-keypress="($event.which == 13)? SearchEnterDetails():itemD.noRegistrasi" disabled/>
                </div>
            </div>            
            <div class="grid_12">
                <div class="grid_12 headerBox">
                    <p>Detail Registrasi</p>
                </div>
                <div class="clear"></div>
                <!-- grid table -->
                <div class="grid_12 borderBox">
                    <kendo-grid id="kGrid" data-source="dataDetailRegistrasi" options="columnDetailRegistrasi"
                        k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" k-selectable="'row'"
                        k-ng-model="dataPasienSelectedDetail" ng-click="klikGridDetail(dataPasienSelectedDetail)">
                    </kendo-grid>
                </div>
                <div class="clear"></div>
            </div>
            <div class="grid_12">
                <div class="k-edit-buttons  k-state-default pull-right" style="margin-top:10px">
                    <button class="k-button  k-button-icontext" ng-click="TutupPopUps()"><span
                            class="k-icon k-cancel"></span>Tutup</button>
                </div>
            </div>
            <div class="grid_12" style="margin-top:60px">
                <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
            </div>
        </div>
    </div>
    <div kendo-window="popCondition" k-title="'Condition'" k-width="1300" k-visible="false"
            k-on-open="win2visible = true" k-on-close="win2visible = false">
            <div class="panel panel-default container_12" style="padding: 0px 10px;">
                <div class="grid_12">
                
                    <div class="clear"></div>
                    <div class="grid_12 borderBox">
                        <kendo-grid  data-source="sourceCondition" options="columnCond"
                            k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" 
                            >
                        </kendo-grid>
                    </div>
                    <div class="clear"></div>
                </div>
            
                <div class="grid_12" style="margin-top:60px">
                    <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
                </div>
            </div>
        </div>
    </div>