.card.brder {
  border: 8px solid #d6001c;
}
.card.brder2 {
  border: 4px solid #d6001c;
}

.badge-light-danger2 {
  background-color: #f5dadf;
  border-radius: 20px;
  margin: 0px 100px 0 100px;
}
.badge-light-danger22 {
  background-color: #f5dadf;
  border-radius: 5px;
}

.circle {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  border: 0;
  margin: 10px;
}
.image {
  width: 100px;
  margin-top: -0.5rem;
}
.circle .image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
  transition: 0.25s;
}

.circle:hover .image {
  opacity: 1;
  color: transparent;
}

.circle:hover .ccont {
  color: transparent;
}

.ccont {
  display: inline-block;
  margin: 10px;
}
.text-ruangan {
  -webkit-line-clamp: 1;
  margin-top: -10px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: 2rem;
  color: #646464;
}
.text-antrian {
  color: #868c9b;
  font-size: 1rem;
  margin: 0;
}
.header-navbar {
  // padding: 0;
  // min-height: 4.45rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease, background 0s;
  z-index: 997;
}
.text-nomorantri {
  font-size: 2rem;
  color: black;
  margin: 0 0 0 0;
  font-weight: bold;
  padding: 2px 0 2px 0;
}
.text-poliakhir {
  font-size: 4.5rem;
  color: #222020;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.text-menu {
  color: #868c9b;
  font-size: 2rem;
}

.text-namapasien {
  color: black;
  font-size: 5rem;
}
.text-noakhir {
  font-size: 13rem;
  color: black;
  margin: 0 0 -15px 0;
}
.div-text {
  padding: 0 10px 0 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
