.p-btn-green {
    color: #ffffff;
    background: #7ec0b5;
    border: 1px solid #7ec0b5;
}
.p-btn-green-ngora {
    color: #ffffff;
    background: #1abba0;
    border: 1px solid #1abba0;
}
.p-btn-green-klot {
    color: #ffffff;
    background: #139098;
    border: 1px solid #139098;
}
.p-btn-green-sedeng {
    color: #ffffff;
    background: #15A434;
    border: 1px solid #15A434;
}

h1,h2,h3,h4,h5,h6,h7 {
    color: white;
}
