<style type="text/css">
    .style-center {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .style-right {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .style-left {
        display: inline-block;
        text-align: left;
        width: 100%;
    }

    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid .k-grid-header .k-header {
        text-align: center;
    }
    .k-grid-content{
        max-height:450px;
    }
</style>
<c-panel item="item" header="'Daftar Rawat Inap'" disabled>
    <div class="grid_12">
        <div class="grid_12">
            <div class="grid_4">
            </div>
            <div class="grid_2">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Ruangan"></label>
                </div>
                <div class="clear"></div>

                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.ruangan"
                        k-data-text-field="'namaruangan'" k-data-value-field="'id'" k-filter="'contains'"
                        k-auto-bind="false" k-data-source="listRuangan" />
                </div>
            </div>

            <div class="grid_1">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Tipe Pasien"></label>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.kelompokPasien"
                        k-data-text-field="'kelompokpasien'" k-data-value-field="'id'" k-filter="'contains'"
                        k-auto-bind="false" k-data-source="listKelompokPasien" />
                </div>
            </div>

            <div class="grid_5">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Periode Registrasi"></label>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <div class="grid_4 padDatePicker">
                        <input style="width: 100%" k-ng-model="item.tglAwal" kendo-datetimepicker k-max="now"
                            placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm"
                            ng-disabled='cekBelumVerifs' />
                    </div>
                    <div class="grid_4 padDatePicker">
                        <input style="width: 100%" k-ng-model="item.tglAkhir" kendo-datetimepicker
                            placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" ng-disabled='cekBelumVerifs' />
                    </div>
                    <div class="grid_2">
                        <button class="c-button" ng-click="cariFilter()">Cari</button>
                    </div>
                </div>
            </div>

            <div class="grid_12">              
                <div class="grid_12 borderBox">
                    <div id="kGrid" kendo-grid k-data-source="dataGrid" k-selectable="'row'" options="columnGrid"
                        k-pageable="'true'" k-sortable="'true'" k-ng-model="dataSelected" ng-click="klikGrid(dataSelected)">                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="grid_12">
        <div class="grid_1">
            <div class="grid_12">
                <label c-label item="item">No Registrasi</label>
            </div>
            <div class="grid_12">
                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noReg" />
            </div>
        </div>
        <div class="grid_1">
            <div class="grid_12">
                <label c-label item="item">No.MR</label>
            </div>

            <div class="grid_12">
                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noMr" />
            </div>
        </div>
        <div class="grid_2">
            <div class="grid_12">
                <label c-label item="item" c-label-text="Nama Pasien"></label>
            </div>
            <div class="grid_12">
                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaPasien" />
            </div>
        </div>
        <div class="grid_2">
            <div class="grid_12">
                <label c-label item="item" c-label-text="Alamat"></label>
            </div>
            <div class="grid_12">
                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.alamat" />
            </div>
        </div>
        <div class="grid_2" style="margin-top: 22px">
        </div>
        <div class="grid_2" style="margin-top: 22px">
            <button class="c-button" ng-click="KartuPenunggu()">Kartu Penunggu</button>
        </div>
        <div class="grid_2" style="margin-top: 22px">
            <button class="c-button" ng-click="cetak()">Cetak</button>
        </div>
    </div>
</c-panel>
<div class="grid_12" style="margin-top:60px">
    <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
</div>

<div kendo-window="winDialogss" k-title="'Kartu Penunggu'" k-width="400" k-height="310" k-visible="false"
        k-on-open="win2visible = true" k-on-close="win2visible = false">
        <!-- <div class="grid_12"> -->
            <div class="grid_12">
                <label c-label item="item " c-label-text="NamaPenunggu"></label>
                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namapenunggu" />
            </div>
            <div class="grid_12">
                <label c-label item="item " c-label-text="Indentitas"></label>
                <input kendo-combo-box k-ng-model="item.indentitas" k-data-text-field="'namaindentitas'"
                   k-filter=" 'contains' " k-data-value-field=" 'id' " k-auto-bind="false " k-data-source="listIndentitas" />
            </div>
            <div class="grid_12">
                <label c-label item="item " c-label-text="Hubungan"></label>
                <input kendo-combo-box k-ng-model="item.hubunganKeluarga" k-data-text-field="'hubungankeluarga'"
                   k-filter=" 'contains' " k-data-value-field=" 'id' " k-auto-bind="false " k-data-source="listHubungan" />
            </div>
            <div class="grid_12">
                <label c-label item="item " c-label-text="Keterangan"></label>
                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.keterangan" />
            </div>
        <!-- </div> -->
        
        <div class="clear">
            <button class="k-button" ng-click="simpanPenunggu()"
                style="float:right;margin-top:4%">Simpan</button>
        </div>
       

    </div>