.centers {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 680px) {
    .gambarna {
        display: none;
    }
}

.gambarna {
    max-height: 400px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body,
html {
    height: 100%;
    margin: 0;
    color: #444444;
}
::-webkit-scrollbar {
    display: none;
}

.button-caller {
    background: #f35c2f;
    padding: 8px 20px 8px 20px;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
}
.button-caller:hover {
    background: #444444;
    transition: all 0.5s ease-out;
}
.button-caller h1 {
    text-align: center;
    font-weight: bold;
}
.button-caller a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.button-caller a:hover {
    text-decoration: none;
}
.f-s-5 {
    font-size: 2rem;
    font-weight: bold;
}
.p-btn-green {
    color: #ffffff;
    background: #7ec0b5;
    border: 1px solid #7ec0b5;
}
.p-btn-green-ngora {
    color: #ffffff;
    background: #1abba0;
}
.p-btn-green-klot {
    color: #ffffff;
    background: #139098;
    border: 1px solid #139098;
}
.p-btn-green-sedeng {
    color: #ffffff;
    background: #15a434;
    border: 1px solid #15a434;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    color: white;
}
.button-viewer2 {
    background: #139098;
    padding: 8px 20px 8px 20px;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
}
.button-viewer3 {
    background: #47940c;
    padding: 8px 20px 8px 20px;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
}
.button-viewer {
    background: #2c761e;
    padding: 8px 20px 8px 20px;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
}
.button-viewer:hover {
    background: #444444;
    transition: all 0.5s ease-out;
}
.button-viewer2:hover {
    background: #444444;
    transition: all 0.5s ease-out;
}
.button-viewer3:hover {
    background: #444444;
    transition: all 0.5s ease-out;
}
.button-viewer h1 {
    text-align: center;
    font-weight: bold;
}
.button-viewer a {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}
.button-viewer a:hover {
    text-decoration: none;
}
.button-viewer a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
.button-viewer2 a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
.button-viewer3 a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
h3.heading-caller {
    font-family: "swiss";
    margin-left: 10px;
    margin-bottom: 7px;
}
.form-panggil {
    background: #fafafa;
    margin: 0px 0px 20px 10px;
    padding: 0px 10px 20px 0px;
    border-radius: 10px;
    border-top: 5px solid #f35c2f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.form-panggil-ulang {
    background: #fafafa;
    margin: 0px 10px 20px 10px;
    padding: 0px 10px 20px 0px;
    border-radius: 10px;
    border-top: 5px solid #2c761e;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.form-panggil h4 {
    color: #f35c2f;
    margin-left: 14px;
    text-transform: uppercase;
}
.form-panggil button,
.form-panggil-ulang button {
    margin-top: 25px;
    float: left;
}
.form-panggil-ulang h4 {
    color: #2c761e;
    margin-left: 14px;
    text-transform: uppercase;
}
.form-panggil form,
.form-panggil-ulang form {
    margin-top: 10px;
}
.btn-panggil {
    color: #ffffff;
    background-color: #f35c2f;
    border-color: #f35c2f;
}
.btn-panggil-ulang {
    color: #ffffff;
    background-color: #2c761e;
    border-color: #2c761e;
}
.btn-refresh {
    color: #ffffff;
    background-color: #7fb539;
    border-color: #7fb539;
    margin: 10px 17px;
}
.btn-panggil:hover,
.btn-panggil:focus,
.btn-panggil:active,
.btn-panggil.active,
.btn-panggil-ulang:hover,
.btn-panggil-ulang:focus,
.btn-panggil-ulang:active,
.btn-panggil-ulang.active,
.btn-refresh:hover,
.btn-refresh:focus,
.btn-refresh:active,
.btn-refresh.active {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444;
    transition: all 0.5s ease-out;
}
h3.heading-list-antrian {
    font-family: "swiss";
    margin-left: 10px;
}
.list-antrian {
    background: #ffffff;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.list-antrian h4 {
    margin: 20px 17px 7px 17px;
    font-family: "swiss";
    display: inline-block;
    color: #444444;
    text-transform: uppercase;
}
.topbars {
    text-align: center;
    padding: 10px 0;
}
.topbars img.img-logo-index {
    width: 100px;
    margin-top: 10px;
    margin: 0 auto;
}
img.img-illustration-index {
    max-width: 100%;
    margin-top: 10px;
    // padding-bottom: 70px;
    margin: 0 auto;
}
.topbars img.img-logo-caller {
    width: 200px;
    margin-top: 10px;
    margin: 0 auto;
}
.topbars img.img-logo-top {
    max-width: 100%;
    margin-top: 10px;
}
.topbars .nama-rumah-sakit {
    font-family: "swiss";
    text-align: left;
    font-size: 45px;
    margin: 0;
}
.topbars .alamat-rumah-sakit {
    text-align: left;
    font-size: 25px;
    margin: 0;
}
.topbars-date {
    margin-top: 40px;
}
.topbars-date h4 {
    font-family: "swiss";
    text-align: right;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 5px;
}
.topbars-date span.tanggal {
    color: #ffffff;
    background: #444444;
    padding: 5px 20px 7px 20px;
    border-radius: 35px;
}
.topbars-date span.jam {
    background: #444444;
    padding: 5px 20px 7px 20px;
    border-radius: 35px;
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
}
.antrian-terakhir {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.antrian-terakhir h2 {
    font-weight: bold;
    font-size: 50px;
}
.antrian-terakhir h1 {
    font-size: 120px;
    font-weight: bold;
    margin: 120px 0;
}
.antrian-terakhir h4 {
    font-size: 40px;
}
.antrian-terakhir h4 span {
    background: #444444;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 30px 7px 30px;
    border-radius: 50px;
}
.multimedia {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
video {
    width: 880px;
    height: auto;
    border: 0;
}
.no-antrian-bawah-1 {
    background: #ff705e;
    padding: 5px 0 20px 0;
    border-radius: 10px;
    text-align: center;
}
.no-antrian-bawah-2 {
    background: #48cfe8;
    padding: 5px 0 20px 0;
    border-radius: 10px;
    text-align: center;
}
.no-antrian-bawah-3 {
    background: #ffba4d;
    padding: 5px 0 20px 0;
    border-radius: 10px;
    text-align: center;
}
.no-antrian-bawah-4 {
    background: #8a7fff;
    padding: 5px 0 20px 0;
    border-radius: 10px;
    text-align: center;
}
.no-antrian-bawah-1 h2 span,
.no-antrian-bawah-2 h2 span,
.no-antrian-bawah-3 h2 span,
.no-antrian-bawah-4 h2 span {
    margin-top: 15px;
    background: #444444;
    padding: 3px 30px 6px 30px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 35px;
}
.no-antrian-bawah-1 h1,
.no-antrian-bawah-2 h1,
.no-antrian-bawah-3 h1,
.no-antrian-bawah-4 h1 {
    text-align: center;

    font-size: 60px;
    margin-top: 20px;
}

@media (max-width: 1366px) {
    .topbars .nama-rumah-sakit {
        font-size: 30px;
    }
    .topbars-date h4 {
        font-size: 23px;
    }
    .topbars-date span.jam {
        margin-left: 10px;
    }
    video {
        width: 605px;
        height: auto;
    }
    .antrian-terakhir h2 {
        margin-top: 0px;
        font-size: 40px;
    }
    .antrian-terakhir h1 {
        font-size: 100px;
        font-weight: bold;
        margin: 70px 0;
    }
    .antrian-terakhir h4 {
        font-size: 35px;
    }
    .no-antrian-bawah-1 h2 span,
    .no-antrian-bawah-2 h2 span,
    .no-antrian-bawah-3 h2 span,
    .no-antrian-bawah-4 h2 span {
        font-size: 33px;
    }
    .no-antrian-bawah-1 h1,
    .no-antrian-bawah-2 h1,
    .no-antrian-bawah-3 h1,
    .no-antrian-bawah-4 h1 {
        font-size: 45px;
    }
}
@media (max-width: 1280px) {
    .topbars .nama-rumah-sakit {
        font-size: 30px;
    }
    .topbars .alamat-rumah-sakit {
        font-size: 20px;
    }
    .topbars-date h4 {
        font-size: 20px;
    }
    video {
        width: 560px;
        height: auto;
    }
    .antrian-terakhir h2 {
        margin-top: 0px;
        font-size: 40px;
    }
    .antrian-terakhir h1 {
        font-size: 100px;
        font-weight: bold;
        margin: 60px 0;
    }
    .antrian-terakhir h4 {
        font-size: 35px;
    }
    .no-antrian-bawah-1 h2 span,
    .no-antrian-bawah-2 h2 span,
    .no-antrian-bawah-3 h2 span,
    .no-antrian-bawah-4 h2 span {
        font-size: 33px;
    }
    .no-antrian-bawah-1 h1,
    .no-antrian-bawah-2 h1,
    .no-antrian-bawah-3 h1,
    .no-antrian-bawah-4 h1 {
        font-size: 45px;
    }
}
@media (max-width: 1024px) {
    .topbars .nama-rumah-sakit {
        font-size: 25px;
    }
    .topbars-date h4 {
        font-size: 15px;
    }
    video {
        width: 435px;
        height: auto;
    }
    .antrian-terakhir h2 {
        margin-top: 0;
        font-size: 30px;
    }
    .antrian-terakhir h1 {
        font-size: 70px;
        font-weight: bold;
        margin: 47px 0;
    }
    .antrian-terakhir h4 {
        font-size: 30px;
    }
    .no-antrian-bawah-1 h2 span,
    .no-antrian-bawah-2 h2 span,
    .no-antrian-bawah-3 h2 span,
    .no-antrian-bawah-4 h2 span {
        font-size: 30px;
    }
    .no-antrian-bawah-1 h1,
    .no-antrian-bawah-2 h1,
    .no-antrian-bawah-3 h1,
    .no-antrian-bawah-4 h1 {
        font-size: 35px;
    }
}
@media screen and (min-width: 768px) {
    .p-md-offset-1 {
        margin-left: 12.333333%;
    }
}
