<style>
	.btn-disabled {
		background-color: red;
	}
	.btn-enabled {
		background-color: green;
	}
</style>
<div class="grid_12">
	<div class="grid_12 headerBox">
		<h1 style="color: white;"><b>Daftar Produk</b></h1>
	</div>
	<div class="grid_12">
		<div class="grid_2">
			<div class="grid_12">
				<label c-label item="item" c-label-text="kd"></label>
			</div>
			<div class="grid_12">
				<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdProdukScr" />
			</div>
		</div>
		<div class="grid_3">
			<div class="grid_12">
				<label c-label item="item" c-label-text="Nama Produk"></label>
			</div>
			<div class="grid_12">
				<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaProdukScr" />
			</div>
		</div>
		<div class="grid_2">
			<div class="grid_12">
				<label c-label item="item" c-label-text="kdIntern"></label>
			</div>
			<div class="grid_12">
				<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdProdukInternScr" />
			</div>
		</div>
		<div class="grid_2">
			<div class="grid_12">
				<label c-label item="item" c-label-text="kdBarcode"></label>
			</div>
			<div class="grid_12">
				<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdBarcodeScr" />
			</div>
		</div>
		<div class="grid_1">
			<div class="grid_12">
				<label c-label item="item" c-label-text="kodeBmn"></label>
			</div>
			<div class="grid_12">
				<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeBmnScr" />
			</div>
		</div>
		<div class="grid_1">
			<div class="grid_12">
				<label c-label item="item">Jumlah Row</label>
			</div>
			<div class="grid_12">
				<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jumlahRows" />
			</div>
		</div>
		<div class="grid_1">
			<button class="c-button" style="margin-top: 22px" ng-click="cariFilter()">Cari</button>
		</div>
		<div class="grid_12">
			<div class="grid_12 borderBox">
				<kendo-grid id="kGrid" options="mainGridOptions" k-data-source="dataSource" k-ng-model="dataSelected"
					ng-click="klikGrid(dataSelected)">
				</kendo-grid>
			</div>
		</div>
		<!-- <div class="grid_12">
            <div class="grid_12 borderBox">
                <kendo-grid id="kGrids" data-source="dataGrid" options="mainGridOptions" k-selectable="'row'"
                    k-sortable="'true'" class="max-height" k-resizable="'true'" k-ng-model="dataSelected"
                    ng-click="klikGrid(dataSelected)"></kendo-grid>
            </div>
        </div> -->
	</div>
	<div class="grid_12">		
		<div class="grid_4"></div>
		<div class="grid_2">
			<button class="c-button" ng-click="popUpKelompokBill()">Kelompok Billing</button>
		</div>
		<div class="grid_2">
			<button class="c-button" ng-click="KelBPJS()">Kelompok Produk BPJS</button>
		</div>
		<div class="grid_2">
			<button class="c-button" ng-click="edit()">Ubah</button>
		</div>
		<div class="grid_2">
			<button class="c-button" ng-click="tambah()">Tambah</button>
		</div>
	</div>
	<div kendo-window="popupkelbill" k-title="'Kelompok Billing'" k-width="400" k-height="120" k-visible="false" k-on-open="win2visible = true" k-on-close="win2visible = false">
		<label c-label item="item " c-label-text="Kelompok Rincian Billing "></label>
		 <input style="width: 100%;" kendo-combo-box k-ng-model="item.KelBilling" k-data-text-field="'jenisbilling'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisBill" />
		<div class="clear">
		<button class="k-button" ng-click="simpanKelBill()" style="float:right;margin-top:4%">Simpan</button>
		<!-- <button class="k-button" ng-click="buktiLayanan()" style="float:right;margin-top:4%" ng-show="showBuktiLayanan">Cetak Bukti Layanan</button> -->
	 
	</div>
</div>