<style>
    .style-center {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .style-right {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .style-left {
        display: inline-block;
        text-align: left;
        width: 100%;
    }

    .k-treeview .k-item {
        background-color: #f9f9f9 !important;
    }

    .k-checkbox-label:before {
        margin: 1px 0px 0px 6px;
    }

    legend {
        cursor: pointer;
        padding: 10px;
    }

    .effect-shadow {
        -webkit-box-shadow: 2px 2px 5px #b6b6b6;
        -moz-box-shadow: 2px 2px 5px #b6b6b6;
        box-shadow: 2px 2px 5px #b6b6b6;
    }


    fieldset {
        border: 1px solid #c8c8c8;
        background-color: #ffffff;
        color: #333333;
    }

    fieldset legend a {
        padding: 0.571em 1em;
        border: 1px solid #c8c8c8;
        color: #333333;
        background-color: #f4f4f4;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }

    fieldset legend a .fieldset-toggler {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        color: #848484;
    }

    fieldset .fieldset-toggleable legend a:hover {
        background-color: #dbdbdb;
        border: 1px solid #dbdbdb;
        color: #333333;
    }

    .warnaa {
        color: #848484;
    }

    fieldset .fieldset-toggleable .fieldset-legend a:hover .fieldset-toggler {
        color: #333333;
    }

    .k-checkbox-label {
        position: relative;
        padding-left: 2em;
        vertical-align: middle;
        line-height: .875em;
        cursor: pointer;
    }

    k-button.k-button-icontext.k-grid-Cetak {
        min-width: 84px;
        background-color: red;
        border: none;
        margin: .1em;
    }
</style>
<div class="grid_12">
    <div class="grid_12 headerBox">
        <h1 style="color: white;"><b>Setting Autorisasi Password</b></h1>
    </div>
    <div class="grid_12">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Password Autorisasi">
                        <md-content class="md-padding">
                            <div class="panel panel-default container_12">
                                <div class="panel-body">
                                    <div class="grid_3">
                                        <label c-label c-label-text="Keterangan Fungsi" real></label>
                                        <input c-text-box type="input" filter="" class="k-textbox"
                                            ng-model="new.cariKetFungsi" />
                                    </div>
                                    <div class="grid_4">
                                        <label c-label c-label-text="Nama Autorisasi" real></label>
                                        <input c-text-box type="input" filter="" class="k-textbox"
                                            ng-model="new.cariNamaAuth" />
                                    </div>
                                    <div class="grid_3">
                                        <label c-label c-label-text="Kelompok Autorisasi" real></label>
                                        <input c-text-box type="input" filter="" class="k-textbox"
                                            ng-model="new.cariKelAuth" />
                                    </div>
                                    <div class="grid_1">
                                        <label c-label c-label-text="jml Row" real></label>
                                        <input c-text-box type="input" filter="" class="k-textbox"
                                            ng-model="new.jmlRows" />
                                    </div>
                                    <div class="grid_1">
                                        <label c-label c-label-text=""></label>
                                        <em style="margin-top:6px;" ng-click='reset()' id="iconButton"
                                            data-role="button" class="k-button k-button-icon k-primary" role="button"
                                            aria-disabled="false" tabindex="0"><span
                                                class="k-sprite k-icon k-i-cancel">Refresh</span></em>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_12">
                                <kendo-grid id="kNewUser" k-data-source="sourceNewUser" k-selectable="'row'"
                                    k-groupable="'true'" k-options="optionGridNewUser" k-ng-model="current"
                                    ng-click="kl(current)">
                                </kendo-grid>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>
<div class="grid_12" style="margin-top:60px">
    <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
</div>

<div kendo-window="dialogPopup" k-title="'Tambah'" k-width="650" k-height="425" k-visible="false"
    k-on-close="customClicked()">
    <div class="panel panel-default panel-white container_12">
        <div class="grid_12">
            <div class="grid_12">
                <div class="grid_12" style="margin-top:10px">
                    <label c-label item="item" c-label-text="Keterangan Fungsi" real></label>
                </div>
                <div class="grid_12">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.keteranganFungsi" />
                </div>
            </div>
            <div class="grid_12">
                <div class="grid_12" style="margin-top:10px">
                    <label c-label item="item" c-label-text="Nama Autorisasi" real></label>
                </div>
                <div class="grid_12">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaAutorisasi" />
                </div>
            </div>
            <div class="grid_12">
                <div class="grid_12" style="margin-top:10px">
                    <label c-label item="item" c-label-text="Kelompok Autorisasi" real></label>
                </div>
                <div class="grid_12">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.KelompokAutorisasi" />
                </div>
            </div>
            <div class="grid_12">
                <div class="grid_12" style="margin-top:10px">
                    <label c-label item="item" c-label-text="KataKunci" real></label>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <input c-text-box type="password" filter="" class="k-textbox" ng-model="item.kataKunciPass" />
                </div>
            </div>
            <div class="grid_12">
                <div class="grid_12" style="margin-top:10px">
                    <label c-label item="item" c-label-text="UlangiKataKunci" real></label>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <input c-text-box type="password" filter="" class="k-textbox" ng-model="item.kataKunciConfirm" />
                </div>
            </div>
        </div>
        <div class="k-edit-buttons k-state-default pull-right" style="margin-top:10px">
            <button class="k-button k-button-icontext k-primary k-grid-update" ng-click="saveNewUser()"
                ng-disabled='disabledSave'>
                <span class="k-icon k-update"></span>Simpan
            </button>
            <button class="k-button k-button-icontext k-grid-cancel" ng-click="batalNewUser()">
                <span class="k-icon k-cancel"></span>Batal
            </button>
        </div>
    </div>
</div>

<div kendo-window="dialogGantiPass" k-title="'Ubah Password'" k-width="250" k-height="225" k-visible="false">
    <div class="panel panel-default panel-white container_12">
        <div class="grid_12">
            <div class="grid_12">
                <div class="grid_12" style="margin-top:10px">
                    <label c-label item="item" c-label-text="KataKunci" real></label>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <input c-text-box type="password" filter="" class="k-textbox" ng-model="item.kataKunci" />
                </div>
            </div>
            <div class="grid_12">
                <div class="grid_12" style="margin-top:10px">
                    <label c-label item="item" c-label-text="UlangiKataKunci" real></label>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <input c-text-box type="password" filter="" class="k-textbox" ng-model="item.kataKunciFix" />
                </div>
            </div>
        </div>
        <div class="k-edit-buttons k-state-default pull-right" style="margin-top:10px">
            <button class="k-button k-button-icontext k-primary k-grid-update" ng-click="saveGantiPass()"
                ng-disabled='disabledSave'>
                <span class="k-icon k-update"></span>Simpan
            </button>
            <button class="k-button k-button-icontext k-grid-cancel" ng-click="batalGantiPass()">
                <span class="k-icon k-cancel"></span>Batal
            </button>
        </div>
    </div>
</div>
<style>
    .k-window-titlebar {
        /* background-color: #10c4b2; */
        font-weight: 800;
    }

    .k-i-close {
        display: none;
    }
</style>