body .ui-steps .ui-steps-item {
  width: 33%;
  ;
}

body .ui-steps.steps-custom {
  margin-bottom: 30px;
}

body .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

body .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps .ui-steps-item {
  width: 33%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

body .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.example-card {
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  background: #f5f5f5;
  border-radius: 20px;
}



.ex-image-a{
  background-image: url('/assets/humastemplate/images/pasien-baru1.png');
  background-size: cover;
  margin: 0 0;
}
.ex-image-b{
  background-image: url('/assets/humastemplate/images/pasien-lama.png');
  background-size: cover;
  margin: 0 0;
}
.ex-image-c{
  background-image: url('/assets/humastemplate/images/pasien-lama.png');
  background-size: cover;
  font-size: 5pt;
}
.kanan {
  margin: 0px;
  float: center;

}

.example-card:active {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 20px;
  background: #f5f5f5;
  -moz-box-shadow: 0 0 4px 0 rgba(10, 27, 102, 0.418);
  -webkit-box-shadow: 0 0 4px 0 rgba(10, 27, 102, 0.418);
  box-shadow: 0 0 4px 0 rgba(10, 27, 102, 0.418);
}

.color2 {
  background: #fff
}

.color1 {
  background: #f5f5f5
}


.poliklinik-card {
  max-width: 100px;
  max-height: 100px;
  text-align: center
}

body .ui-menuitem-template-icon {
  font-size: 2em;
}

.ui-menu-template {
  position: relative;
  text-align: center;
  min-width: 10em;
}

body .ui-menu-close-item {
  position: absolute;
  right: -1em;
  top: -.5em;
  padding: 0
}

.selected {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 255, 115, 0.25);
  -moz-box-shadow: 0 0 0 0.2rem rgba(0, 255, 115, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 115, 0.25);
  background-color: #cccccc;
  border-radius: 0px;
}
.label-popup{
    font-weight: bold;
    font-size: 7px;
}
.label-popup-gede{
    font-weight: bold;
    font-size: 23px;
}
.label-bold{
  font-weight: bold;
}
.label-bold-miring{
  font-weight: bold;
  font-style: italic
}
.zoom:hover {
  -ms-transform: scale(3); /* IE 9 */
  -webkit-transform: scale(3); /* Safari 3-8 */
  transform: scale(3);
}
.ui-button-icon-only .fa {
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.6em;
}
.ui-button-icon-only .fa, .ui-button-text-icon-left .fa, .ui-button-text-icon-right .fa {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
}
body .ui-fluid .ui-button-icon-only {
  /* width: auto; */
  width: 2.357rem;
  padding: 0.5rem 0;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ui-button-icon-left {
  left: 0.5em;
}
.ui-widget, .ui-widget * {
  box-sizing: border-box;
}
