<style>
    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header  {
        white-space: normal;
    }
    .k-grid .k-grid-header .k-header  {
        text-align: center;
    }
</style>
<div class="panel panel-default container_12">
	<div class="panel-heading" c-translate>Monitoring Log Presensi</div>
	<div class="panel-body">
		<fieldset style="min-height:50px !important" align="left">
            <legend><h2>Pencarian</h2></legend>
            <div class="grid_12">
        		<div class="grid_2" style="margin-top: 6px;">
					<label c-label item="item" c-label-text="Tanggal awal"></label>
					<input style="width: 100%" k-ng-model="item.tglawal" kendo-datetimepicker placeholer="yyyy-mm-dd" k-format="'yyyy-MM-dd HH:mm'"
					/>
				</div>
				<div class="grid_2" style="margin-top: 6px;">
					<label c-label item="item" c-label-text="Tanggal Akhir"></label>
					<input style="width: 100%" k-ng-model="item.tglakhir" kendo-datetimepicker placeholer="yyyy-mm-dd" k-format="'yyyy-MM-dd HH:mm'"
					/>
				</div>
            	<div class="grid_6">            		
					<!-- <div class="grid_4">
				        <label c-label item="item" c-label-text="Departement"></label>
				        <input  style="width: 100%;" kendo-combo-box k-ng-model="item.departement" k-data-text-field="'departemen'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listDepartemen"  k-on-change="getIsiComboRuangan()"/>
				    </div>
				    <div class="grid_4">
				        <label c-label item="item" c-label-text="Ruangan"></label>
				        <input ng-disabled="isDisable" style="width: 100%;" kendo-combo-box k-ng-model="item.ruangan" k-data-text-field="'ruangan'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listRuangan"/>
				    </div> -->
					<div class="grid_6">
						<label c-label item="item" c-label-text="Nama Lengkap"></label>
						<input style="width: 100%;" kendo-combo-box k-ng-model="item.namaPegawai" k-data-text-field="'namalengkap'" k-data-value-field="'id'"
						 k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
					</div>
            	</div>
            	<div class="grid_2 k-edit-buttons  k-state-default " style="margin-top:28px"    >       
	                <button class="k-button k-button-icontext k-primary k-grid-update" ng-click="Search()"  style="width:100px"  ><span class="k-sprite k-icon k-i-search"></span>Cari </button>
	                <button class="k-button  k-button-icontext" ng-click="ClearSearch()" style="width:100px" ><span class="k-sprite k-icon k-delete"></span>Clear</button>
	            </div>  
            </div>
        </fieldset>
	</div>
	<div class="grid_12" style="margin-top:10px">
		<div class="grid_12 headerBox">
			<p>Detail</p>
		</div>		
		<div class="grid_12 borderBox">
			<kendo-grid  
                        k-data-source="sourceLaporan" 
                        k-selectable="'row'" 
                        k-groupable="'false'"
                        k-options="columnLaporan" 
                        k-ng-model="dataPasienSelected" 
                        ng-click="click(dataPasienSelected)">
            </kendo-grid> 		 
		</div>
	</div>
	<div class="grid_12" style="margin-top:60px"  ng-show="isLoadingData">
		<div ng-include='"../app/template/Shared/TemplateLoading"'></div>
	</div>
</div>				
<!-- <div class="clear"></div>
<div class="grid_12"> -->
	<!-- <div class="grid_12" style="float:right">
		<div class="grid_3 " style="margin-top: 25px ">
			<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="CetakPasienDaftar()">
				<span class="title">Cetak Pasien Daftar</span>
			</button>
		</div>
	</div> -->
<!-- </div>
<br/> -->
