    :root{
         
        --v-anchor-base: #f08080;
        --v-primary-base: #f08080;
        --v-primary-lighten5: #ffffff;
        --v-primary-lighten4: #fff0ed;
        --v-primary-lighten3: #ffd3d0;
        --v-primary-lighten2: #ffb7b5;
        --v-primary-lighten1: #ff9b9a;
        --v-primary-darken1: #d26667;
        --v-primary-darken2: #b44c4f;
        --v-primary-darken3: #973138;
        --v-primary-darken4: #7a1523;
        --v-secondary-base: #e47484;
        --v-secondary-lighten5: #ffffff;
        --v-secondary-lighten4: #ffe3f1;
        --v-secondary-lighten3: #ffc6d5;
        --v-secondary-lighten2: #ffaab9;
        --v-secondary-lighten1: #ff8f9e;
        --v-secondary-darken1: #c65a6b;
        --v-secondary-darken2: #a93f53;
        --v-secondary-darken3: #8c243c;
        --v-secondary-darken4: #700026;
        --v-accent-base: #82b1ff;
        --v-accent-lighten5: #ffffff;
        --v-accent-lighten4: #f8ffff;
        --v-accent-lighten3: #daffff;
        --v-accent-lighten2: #bce8ff;
        --v-accent-lighten1: #9fccff;
        --v-accent-darken1: #6596e2;
        --v-accent-darken2: #467dc6;
        --v-accent-darken3: #2364aa;
        --v-accent-darken4: #004c90;
        --v-error-base: #ff5252;
        --v-error-lighten5: #ffe4d5;
        --v-error-lighten4: #ffc6b9;
        --v-error-lighten3: #ffa99e;
        --v-error-lighten2: #ff8c84;
        --v-error-lighten1: #ff6f6a;
        --v-error-darken1: #df323b;
        --v-error-darken2: #bf0025;
        --v-error-darken3: #9f0010;
        --v-error-darken4: #800000;
        --v-info-base: #2196f3;
        --v-info-lighten5: #d4ffff;
        --v-info-lighten4: #b5ffff;
        --v-info-lighten3: #95e8ff;
        --v-info-lighten2: #75ccff;
        --v-info-lighten1: #51b0ff;
        --v-info-darken1: #007cd6;
        --v-info-darken2: #0064ba;
        --v-info-darken3: #004d9f;
        --v-info-darken4: #003784;
        --v-success-base: #4caf50;
        --v-success-lighten5: #dcffd6;
        --v-success-lighten4: #beffba;
        --v-success-lighten3: #a2ff9e;
        --v-success-lighten2: #85e783;
        --v-success-lighten1: #69cb69;
        --v-success-darken1: #2d9437;
        --v-success-darken2: #00791e;
        --v-success-darken3: #006000;
        --v-success-darken4: #004700;
        --v-warning-base: #fb8c00;
        --v-warning-lighten5: #ffff9e;
        --v-warning-lighten4: #fffb82;
        --v-warning-lighten3: #ffdf67;
        --v-warning-lighten2: #ffc24b;
        --v-warning-lighten1: #ffa72d;
        --v-warning-darken1: #db7200;
        --v-warning-darken2: #bb5900;
        --v-warning-darken3: #9d4000;
        --v-warning-darken4: #802700;
        --v-red-dark: #f44336;
        --v-red-transparent: rgb(245 97 97 / 60%);
        --v-bulukumba : #19adf8;
         }