// .centers{
//     text-align: center;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 100%;
//     // margin-top: 5%;
//   }
//   p.text-regular {
//     font-family: 'gadugiregular';
//     padding: 0;
//     margin: 0;
//     font-size: 20px;
//   }
//    p.text-bold {
//     font-family: 'gadugiregular';
//     font-weight: bold;
//     padding: 0;
//     margin: 0;
//     font-size: 30px;
//   }
//   h1.no-cm{
//     font-family: 'gadugiregular';
//     font-weight: bold;
//     text-align: center;
//     color: #777777;
//     font-size: 45px;
//     padding: 35px 0;
//     margin-bottom: 50px;
//     background: rgba(255,255,255, 0.5);
//   }
// .detail-pasien {
//     margin: 20px 0;
//     border-bottom: 2px solid #ffffff;
//   }
  #toast-container > div {
    opacity:1;
}
@import '@core/scss/angular/libs/toastr.component.scss';
