<style>
    .style-center {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .style-right {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .style-left {
        display: inline-block;
        text-align: left;
        width: 100%;
    }

    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid .k-grid-header .k-header {
        text-align: center;
    }
</style>


<div class="panel panel-default container_12">
    <div class="panel-heading"><label class='title' c-label item="item">{{title}}</label>
    </div>
    <!-- <br/> -->

    <!-- Kriteria -->
    <div class="grid_12">
        <!-- <div class="grid_12 headerBox containerBorderBox" style="padding:0px">
                    <p>Kriteria</p>
                </div> -->
        <div class="grid_12 borderBox containerBorderBox">
            <!-- NoReg -->


            <!-- Ruangan -->
            <div class="grid_2">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Ruangan"></label>
                </div>
                <div class="clear"></div>

                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.ruangan"
                        k-data-text-field="'namaruangan'" k-data-value-field="'id'" k-filter="'contains'"
                        k-auto-bind="false" k-data-source="listRuangan" />
                </div>
            </div>
            <div class="grid_2">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Kelas"></label>
                </div>
                <div class="clear"></div>

                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.kelas"
                        k-data-text-field="'namakelas'" k-data-value-field="'id'" k-filter="'contains'"
                        k-auto-bind="false" k-data-source="listKelas"  />
                </div>
            </div>

            

            <!-- Button Search -->
            <div class="grid_1">
                <div class="grid_12">
                    <label>&nbsp;</label>
                </div>
                <div class="clear"></div>

                <div class="grid_12">
                    <button class="btnTemplate1" style="margin-left: 0;" ng-click="SearchData()"> <i
                            class="fa fa-search"></i>Cari</button>
                </div>
            </div>


        </div>
    </div>

    <!-- DaftarPasienPulang -->
    <div class="grid_12">
        <div class="grid_12 headerBox">
            <p>Daftar</p>
        </div>
        <div class="clear"></div>

        <div class="grid_12 borderBox">
         
            <kendo-grid id="kGrid" data-source="dataSource" options="columnGrid"
                k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" k-selectable="'row'"
                k-ng-model="dataSelected" ng-click="klikGrid(dataSelected)"></kendo-grid>

        </div>
        <div class="clear"></div>
    </div>


    <div class="grid_12">
        <div class="grid_2">
            <div class="grid_12">
                <label c-label item="item">Tempat Tidur</label>
            </div>
            <div class="grid_12">
                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.tempatTidur" />
            </div>
        </div>
        
        <div class="grid_7">
        </div>
       

    </div>



    <div class="grid_12">
        <div class="grid_2" ng-show='cboUbahDokter'>
            <button class="btnTemplate1" style="margin-left: 0;" ng-click="popUpInputTindakan()"><i
                    class="fa fa-stethoscope"></i>Jadwal</button>
        </div>
        <div class="grid_2" ng-show='cboUbahDokter'>
            <button class="btnTemplate1" style="margin-left: 0;" ng-click="DaftarRuangan()"><i
                    class="fa fa-list-alt"></i>Start</button>
        </div>
        <div class="grid_2" ng-show='cboUbahDokter'>
            <button class="btnTemplate1" style="margin-left: 0;" ng-click="Detail()"><i class="fa fa-list"></i>Stop
            </button>
        </div>
        <div class="grid_2" ng-show='cboUbahDokter'>
            <button class="btnTemplate1" style="margin-left: 0;" ng-click="rekapTagihan()"><i
                    class="fa fa-clipboard"></i>Evaluasi</button>
        </div>
        <div class="grid_2" ng-show='cboUbahDokter'>
            <button class="btnTemplate1" style="margin-left: 0;" ng-click="UbahDokter()"><i
                    class="fa fa-users"></i>Verifikasi
            </button>
        </div>



    </div>

    <div class="grid_12" style="margin-top:60px">
        <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
    </div>